<div class="faqs-wrapper">
    <div class="faqs-top-container">
        <div class="faqs-top-section">
            <div class="title">
                <h1>FAQs</h1>
            </div>
            <div class="subtitle">
                <p>Frequently Asked Questions</p>
            </div>
            <hr />
        </div>
    </div>
    <div class="faqs-bottom-container">
        <div class="faqs-bottom-section">
            <div class="row">
                <div class="col-md-6 mt-3 mb-3">
                    <h1>GENERAL QUESTIONS</h1>
                    <div class="faqs-items-container">
                        <app-faqs-item [data]="faqsData"></app-faqs-item>
                    </div>
                </div>
                <div class="col-md-6 mt-3 mb-3">
                    <h1>EXTENDED LICENSES QUESTIONS</h1>
                    <p>Alienum phaedrum torquatos nec eu, vis detraxit periculis ex, nihil expetendis in mei. Mei an
                        pericula euripidis, hinc partem ei est. Eos ei nisl graecis, vix aperiri consequat an. Eius
                        lorem tincidunt vix at, vel pertinax sensibus id, error epicurei mea et. Mea facilisis urbanitas
                        moderatius id. Vis ei rationibus definiebas, eu qui purto</p>
                    <h1>CALL FOR SUPPORT</h1>
                    <p>Alienum phaedrum torquatos nec eu, vis detraxit periculis ex, nihil expetendis in mei. Mei an
                        pericula euripidis, hinc partem ei est. Eos ei nisl graecis, vix aperiri consequat an. Eius
                        lorem tincidunt vix at, vel pertinax sensibus id, error epicurei mea et. Mea facilisis urbanitas
                        moderatius id. Vis ei rationibus definiebas</p>
                    <div class="support">
                        <i class="material-icons">phone</i>
                        <div class="info">
                            <h4>+91 7310523717</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>