@import 'src/_variables';

.faqs-wrapper {
    //padding-top: 55px;
    .faqs-top-container {
        background-image: url('../../../assets/images/faq-bg.svg');
        background-size: contain;
        background-color: currentColor;
        height: 60vh;
        .faqs-top-section {
            text-align: center;
            .title {
                padding-top: 25vh;
                h1 {
                    font-size: 36PX;
                    font-weight: bolder;
                    color: $tertiary;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                }
            }
            .subtitle {
                p {
                    font-size: 19px;
                    color: $tertiary;
                    letter-spacing: 1px;
                    font-family: sans-serif;
                }
            }
            hr {
                width: 100px;
                background-color: $primary;
            }
        }
    }

    .faqs-bottom-container {
        .faqs-bottom-section {
            background-color: $background-light;
            padding: 3% 7%;
            .col-md-6 {
                margin: auto;
            }
            h1 {
                font-size: 24px;
                font-family: $font-family;
                font-weight: bold;
                color: $primary;
            }
            p {
                margin-bottom: 50px;
                font-family: $font-family;
            }
            .support {
                display: flex;
                    margin: 20px 0 20px 0;
                    i {
                        font-size: 30px;
                        color: $primary;
                    }
                    .info {
                        padding-left: 10px;
                        h4 {
                            font-size: 26px;
                            font-weight: 500;
                        }
                    }
            }
        }
    }

    .faqs-image-container {
        .faqs-image-section {
            margin: 3%;
            text-align: center;
        }
    }
}