<div *ngIf="!instaCampaignData">
    <app-loader></app-loader>
</div>
<div class="campaign-wrapper" *ngIf="instaCampaignData">
    <div class="campaign-top-container"
        [ngStyle]="{'background-image': 'url(' + getImageUrl(instaCampaignData.BgImage.data.attributes.url) + ')'}">
        <div class="campaign-top-section">
            <div class="title">
                <h1>{{instaCampaignData.Title}}</h1>
            </div>
            <div class="subtitle">
                <p>{{instaCampaignData.SubTitle}}</p>
            </div>
            <hr />
        </div>
    </div>
    <div class="campaign-middle-container">
        <div class="campaign-middle-section">
            <div class="header">
                <h2>{{instaCampaignData.ConceptHeading}}</h2>
            </div>
            <div class="desc">
                <p>{{instaCampaignData.ConceptDesc}}</p>
            </div>
        </div>
    </div>
    <div class="campaign-bottom-container" *ngIf="instaPackagesData">
        <div class="container">
            <div class="row mt-5 mb-4 justify-content-center">
                <div class="card card-custom mx-3 mb-4 col-lg-3 col-md-5" data-aos="zoom-in"
                    *ngFor="let package of instaPackagesData">
                    <div class="header-section" [ngClass]="{'famous': package.attributes.IsMostPopular}">
                        <div class="title">
                            <h1>{{package.attributes.Name}}</h1>
                        </div>
                        <div class="subtitle">
                            <p *ngIf="package.attributes.IsMostPopular">Most Popular</p>
                        </div>
                    </div>
                    <hr class="top" />
                    <div class="amount-section">
                        <h1><span>$</span>{{package.attributes.Price}}</h1>
                        <h3>{{getFrequency(package.attributes.Frequency)}}</h3>
                    </div>
                    <div class="desc-section">
                        <p>{{package.attributes.Description}}</p>
                    </div>
                    <hr class="bottom" />
                    <div class="btn-section">
                        <a (click)="openPackage(package.id)">EXPLORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>