@import 'src/_variables';

.campaign-wrapper {
    .campaign-top-container {
        background-size: cover;
        height: 60vh;
        .campaign-top-section {
            text-align: center;
            .title {
                padding-top: 25vh;
                h1 {
                    font-size: 36PX;
                    font-weight: bolder;
                    color: $primary;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                }
            }
            .subtitle {
                p {
                    font-size: 19px;
                    color: $tertiary;
                    letter-spacing: 1px;
                    font-family: sans-serif;
                }
            }
            hr {
                width: 100px;
                background-color: $primary;
            }
        }
    }

    .campaign-middle-container{
        background-color: $background-extra-dark;
        .campaign-middle-section {
            padding: 5% 30%;
            @media screen and (max-width: 768px) {
                padding: 5% 10%;
            }
            text-align: center;
            .header {
                h2 {
                    color: $tertiary;
                    font-size: 24px;
                    letter-spacing: 2px;
                    margin-bottom: 30px;
                    font-weight: bold;
                }
            }
            .desc {
                p {
                    font-size: 16px;
                    color: $tertiary;
                    letter-spacing: 1px;
                    font-family: sans-serif;
                }
            }
        }
    }
}

.campaign-bottom-container {
    .container {
        .row {
            .card {
                border: none;
                padding-left: 0;
                padding-right: 0;
                background-color: $background-light;

                .header-section {
                    text-align: center;

                    .title {
                        margin-top: 55px;
                        h1 {
                            font-size: 20px;
                            margin-bottom: 0;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                            font-weight: 500;
                        }
                    }
                    .subtitle {
                        min-height: 23px;
                        p {
                            font-size: 14px;
                            font-weight: 400;
                            color: $primary;
                            font-family: sans-serif;
                        }
                    }
                }

                .famous {
                    background-color: $background-extra-dark;
                    .title {
                        margin-top: 43px;
                        h1 {
                            color: $tertiary;
                        }
                    }
                }

                .amount-section {
                    text-align: center;
                    h1 {
                        margin-bottom: -10px;
                        font-size: 64px;
                        font-weight: 500;
                        font-family: sans-serif;
                        span {
                            font-size: 14px;
                            font-weight: 500;
                            font-family: sans-serif;

                        }
                    }
                    h3 {
                        font-size: 12px;
                        color: $text-dark;
                        font-family: sans-serif;
                    }
                }

                .desc-section {
                    text-align: center;

                    p{
                        margin: 0 25px 0 25px;
                        font-size: 14px;
                        font-family: sans-serif;
                    }
                }
                hr.top {
                    margin-top: 0;
                    margin-bottom: 25px;
                }
                .btn-section {
                    margin-bottom: 25px;
                    text-align: center;

                    a {
                        border-radius: 25px;
                        font-size: 12px;
                        font-weight: 500;
                        padding: 8px 25px 8px 25px;
                        background-color: $primary;
                        color: $secondary;
                        border: none;
                        cursor: pointer;
                    }
                }
            }
        }
        //max-width: 256px;
    }
}