<div *ngIf="!repostData">
    <app-loader></app-loader>
</div>
<div class="report-wrapper" *ngIf="repostData">
    <div class="report-top-container"
        [ngStyle]="{'background-image': 'url(' + getImageUrl(repostData.BgImage.data.attributes.url) + ')'}">
        <div class="report-top-section">
            <div class="title">
                <h1>{{repostData.Title}}</h1>
            </div>
            <div class="subtitle">
                <p>{{repostData.SubTitle}}</p>
            </div>
            <hr />
        </div>
    </div>
    <div class="report-middle-container">
        <div class="report-middle-section">
            <div class="header">
                <h2>{{repostData.ConceptHeading}}</h2>
            </div>
            <div class="desc">
                <p>{{repostData.ConceptDesc}}</p>
            </div>
        </div>
    </div>
    <div class="row mt-5 mb-5 ml-0 mr-0 justify-content-center steps" *ngIf="stepsData">
        <div class="md-2 step">
            <h1>STEP 1</h1>
        </div>
        <div class="md-2 icon">
            <h1><i class="material-icons icon-display">arrow_forward</i></h1>
        </div>
        <div class="md-2 step">
            <h1>STEP 2</h1>
        </div>
        <div class="md-2 icon">
            <h1><i class="material-icons icon-display">arrow_forward</i></h1>
        </div>
        <div class="md-2 step">
            <h1>STEP 3</h1>
        </div>
    </div>
    <div class="report-bottom-container" *ngIf="stepsData">
        <div class="container1">
            <div class="row mt-5 mb-5 ml-0 mr-0 justify-content-center">
                <div class="card card-custom mx-3 mb-2 col-lg-3 col-md-3" data-aos="zoom-in"
                    *ngFor="let step of stepsData">
                    <div class="header-section">
                        <div class="title">
                            <h1>{{step.attributes.Heading}}</h1>
                        </div>
                    </div>
                    <hr class="top" />
                    <div class="desc-section">
                        <p>{{step.attributes.Description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="repost-container" *ngIf="repostPackagesData">
        <div class="repost-wrapper">
            <div class="header">
                <h1>{{repostData.PackageHeading}} <span>Packages</span></h1>
            </div>
            <div class="row justify-content-center mt-5 mb-2 repost-packages">
                <div class="card card-custom mx-2 mb-3 col-lg-2 col-md-4 package" data-aos="zoom-in"
                    *ngFor="let package of repostPackagesData">
                    <div class="logo pt-3 pb-3">
                        <img [src]="package.attributes.Image.data.attributes.url | imagepipe" />
                    </div>
                    <hr class="mt-0" />
                    <div class="package-content">
                        <ul class="listings mb-0">
                            <li *ngFor="let point of getBulletPoints(package.attributes.BulletPoints)">{{point}}</li>
                        </ul>
                    </div>
                    <hr class="mb-0" />
                    <div class="mb-2">
                        <div class="amount-section mb-2">
                            <h1><span>$</span>{{package.attributes.Price}}</h1>
                            <h3>{{getFrequency(package.attributes.Frequency)}}</h3>
                        </div>
                        <div class="mb-2">
                            <span class="icon" (click)="removeItem(package.id)">-</span>
                            <span class="quantity">{{getCount(package.BuyCounter)}}</span>
                            <span class="icon" (click)="addItem(package.id)">+</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center total-container">
                <div class="total mr-4 mb-2">
                    <p>Total Amount = <span>${{totalAmount}}</span></p>
                </div>
                <div class="total mb-2">
                    <a routerLink="/cart">Open Cart</a>
                </div>
            </div>
        </div>
    </div>