@import 'src/_variables';

.report-wrapper {
    .report-top-container {
        background-size: cover;
        height: 60vh;
        .report-top-section {
            text-align: center;
            .title {
                padding-top: 25vh;
                h1 {
                    font-size: 36PX;
                    font-weight: bolder;
                    color: $primary;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                }
            }
            .subtitle {
                p {
                    font-size: 19px;
                    color: $tertiary;
                    letter-spacing: 1px;
                    font-family: sans-serif;
                }
            }
            hr {
                width: 100px;
                background-color: $primary;
            }
        }
    }

    .report-middle-container{
        background-color: $background-extra-dark;
        .report-middle-section {
            padding: 5% 30%;
            @media screen and (max-width: 768px) {
                padding: 5% 10%;
            }
            text-align: center;
            .header {
                h2 {
                    color: $tertiary;
                    font-size: 24px;
                    letter-spacing: 2px;
                    margin-bottom: 30px;
                    font-weight: bold;
                }
            }
            .desc {
                p {
                    font-size: 16px;
                    color: $tertiary;
                    letter-spacing: 1px;
                    font-family: sans-serif;
                }
            }
        }
    }
    .steps {
        @media screen and (max-width: 767px) {
            display: none;
        }
        .step {
            padding: 10px 30px 10px 30px;
            background-color: $secondary;
            margin: 0 4rem 0 4rem;
            @media screen and (max-width: 768px) {
                margin: 0 1.1rem 0 1.1rem;
            }
            h1 {
                margin-bottom: 0;
                color: $primary;
                font-weight: bold;
                font-size: 22px;
                font-family: $font-family;
            }
        }
        .icon {
            display: table;
            //margin: 0 4rem 0 4rem;
            @media screen and (max-width: 768px) {
                margin: 0 1.1rem 0 1.1rem;
            }
            h1 {
                display:table-cell;
                vertical-align:middle;
                i {
                    font-size: 43px;
                    font-weight: bold;
                    color: $text-dark;
                }
                
                .icon-display {
                    transform: scale(1.5);
                }
            }
        }
    }

.report-bottom-container {
    margin: 2%;
    .container1 {
        .row {
            .card {
                background: $tertiary;
                box-shadow: 2px 1px 14px 3px #ebebeb !important;
                border-radius: 15px;
                border: none;

                .header-section {
                    text-align: center;

                    .title {
                        margin: 20px 0 20px 0;
                        h1 {
                            font-size: 20px;
                            margin-bottom: 0;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                            font-weight: 500;
                        }
                    }
                }

                .famous {
                    background-color: $background-extra-dark;
                    .title {
                        h1 {
                            color: $tertiary;
                        }
                    }
                }

                .desc-section {
                    text-align: center;
                    margin-bottom: 20px;

                    p{
                        margin: 0 25px 0 25px;
                        font-size: 14px;
                        font-family: sans-serif;
                    }
                }
                hr.top {
                    margin-top: 0;
                    margin-bottom: 25px;
                }
                .btn-section {
                    margin-bottom: 25px;
                    text-align: center;

                    button {
                        border-radius: 25px;
                        font-size: 14px;
                        font-weight: 400;
                        padding: 8px 25px 8px 25px;
                        background-color: $primary;
                        color: $secondary;
                        border: none;
                    }
                }
            }
        }
    }
}
    .repost-container {
        background-color: $background-light;
        .repost-wrapper {
            padding: 6%;
            @media screen and (max-width: 767px) {
                padding: 15%;
            }
            .header {
                text-align: center;
                h1 {
                    font-size: 28px;
                    font-weight: 500;
                    span {
                        color: $primary;
                    }
                }
            }
            .repost-packages {
                .package {
                    padding: 0;
                    text-align: center;
                    background-color: $tertiary;
                    border: none;
                    padding-left: 0;
                    padding-right: 0;
                    box-shadow: 2px 1px 14px 3px #ebebeb !important;
                    hr {
                        background-color: $primary;
                    }
                    .logo {
                        background-color: $primary;
                        img {
                            height: 120px;
                        }
                    }
                    .package-content {
                        padding: 0 10px;
                        .listings {
                            list-style: none;
                            text-align: left;
    
                           li {
                               list-style: none;
                               font-family: $font-family;
                               font-size: 12px;
                               font-weight: 400;
    
                               &::before {
                                content: "\2713";
                                width: 20px;
                                height: 20px;
                                margin-left: -30px;
                                margin-right: 3px;
                                display: inline-block;
                                text-align: center;
                                line-height: 20px;
                                border-radius: 50px;
                                font-size: 11px;
                                font-weight: 700;
                                color: $primary;
                               }
                           }
                        }
                    }
                        .amount-section {
                            text-align: center;
                            h1 {
                                margin-bottom: -10px;
                                font-size: 25px;
                                font-weight: 500;
                                font-family: sans-serif;
                                span {
                                    font-size: 14px;
                                    font-weight: 500;
                                    font-family: sans-serif;
        
                                }
                            }
                            h3 {
                                font-size: 12px;
                                color: $text-dark;
                                font-family: sans-serif;
                                margin-bottom: 0;
                            }
                        }
                        .icon {
                            box-shadow: 0 2px 12px rgb(0 0 0 / 8%);
                            margin: 0 10px 0 10px;
                            padding: 3px 10px 5px 10px;
                            cursor: pointer;
                            &:hover {
                                background-color: $primary;
                            }
                        }
                        .quantity {
                            font-weight: 500;
                            font-size: 14px;
                        }
                    
                }
            }
            .total-container {
                .total {
                    padding: 10px 15px;
                    background: $primary;
                    border-radius: 8px;
                    p,a {
                        font-size: 22px;
                        color: $secondary;
                        margin-bottom: 0;
                    }
                    a {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}