@import "src/_variables";

.partners-container {
    .partners-section {
        margin-bottom: 7%;
        @media screen and (max-width: 1024px) {
            margin-bottom: 15%;
        }
        .heading {
            text-align: center;
        }
        .desc {
            text-align: center;
            margin-top: 2%;
            margin-bottom: 2%;
            p {
                color: $secondary;
                font-size: 18px;
            }
        }
        .partners-carousel {
            ngu-carousel {
                margin: 5%;
                text-align: center;
                .item {
                    height: 180px;
                    .tile {
                        height: 100%;
                        img {
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
// .partners-container {
//     max-width: 100%;
//     .wrapper {
//         padding-top: 55px;
//         @media screen and (max-width: 480px) {
//             margin-top: 25% !important;
//         }
//         @media screen and (max-width: 1024px) {
//             margin-top: 15% !important;
//         }
//         .row {
//             margin: 0;
//             .left {
//                 text-align: right;
//                 padding-right: 50px;
//                 h1::before {
//                     float: left;
//                     width: calc(100% - 10em);
//                     height: 1em;
//                     content: "";
//                 }
//             }
//             .right {
//                 padding-left: 50px;
//                 .col {
//                     padding-bottom: 5px;
//                 }
//                 .middle-col {
//                     text-align: center;
//                 }
//                 .first-row {
//                     margin-bottom: 60px;
//                 }
//             }

//             @media screen and (max-width: 767px) {
//                 .left {
//                     padding-right: 0;
//                     h1 {
//                         text-align: center;
//                     }
//                     h1::before {
//                         float: none;
//                     }
//                 }
//             }
//         }
//     }
// }
