<div class="partners-container" *ngIf="partnersData">
    <div class="partners-section">
        <div class="heading">
            <h1 class="heading-primary">{{feedData.PartnersTitle}}</h1>
            <p>{{feedData.PartnersSubtitle}}</p>
            <hr class="primary-hr" />
        </div>
        <div class="desc wrapper-left-right">
            <p>{{feedData.PartnersDescription}}</p>
        </div>
        <div class="partners-carousel">
            <ngu-carousel #myCarousel [inputs]="carouselConfig" [dataSource]="partnersData">
                <div *nguCarouselDef="let item;" class="item">
                    <div class="tile" (click)="openPartner(item.attributes.Link)">
                        <img [src]="item.attributes.PartnerLogo.data.attributes.url | imagepipe" />
                    </div>
                </div>
            </ngu-carousel>
        </div>
    </div>
</div>