@import 'src/_variables';

.footer-wrapper {
    background: $background-extra-dark;
    display: inline-block;
    .footer-section {
        margin: 5% 10% 5% 10%;
        .item {
            text-align: center;
            h1 {
                font-size: 16px;
                color: $tertiary;
                letter-spacing: 1px;
            }
            a 
            {
                color: #888888;
                font-size: 14px;
                cursor: pointer;
                &:hover {
                    color: $primary;
                    text-decoration: none;
                }
            }
            form {
                .row {
                    margin: auto;
                    .col-md-8 {
                        padding-right: 0;
                    }
                    .col-md-4 {
                        padding-left: 0;
                        button {
                            font-weight: 500;
                            letter-spacing: 1px;
                            font-family: sans-serif;
                        }
                    }
                }
            }
        }
    }
.footer {
    background-color: $secondary;
    .credit {
        margin-left: 7%;
        span {
            font-size: 16px;
            color: $primary;
            font-weight: 200;
            @media screen and (max-width:768px) {
                font-size: 12px;
            }
        }
    }
    .spacer {
        flex: 1 1 auto;
    }
    .social-container {
        margin-right: 7%;
        .social {
            color: grey;
        }
    }
}
}