<div class="footer-wrapper">
    <div class="row footer-section">
        <div class="col-md-4 no-gutters">
            <div class="justify-content-center align-items-center item">
                <h1>Who are we?</h1>
                <p class="dark-text">{{globalConfig.CompanyTagLine}}</p>
            </div>
        </div>
        <div class="col-md-4 no-gutters">
            <div class="justify-content-center align-items-center item">
                <h1>Links</h1>
                <a *ngFor="let link of globalConfig.FooterLinks.data" [href]="link.attributes.Link">{{link.attributes.Text}}<br /></a><br />
                <!-- <a href="/">Come on Over & Meet the Team</a><br>
                <a href="/">Find Out What’s New and Interesting</a><br>
                <a href="/">Come on Over & Meet the Team</a><br>
                <a href="/">Discover All our Amazing Services</a><br>
                <a href="/">Find Out What’s New and Interesting</a><br>
                <a href="/">Come on Over & Meet the Team</a><br> -->
            </div>
        </div>
        <div class="col-md-4 no-gutters">
            <div class="justify-content-center align-items-center item">
                <h1>Follow Us</h1>
                <p class="dark-text">Please follow us on various social media platforms amd stay updated.</p>
                <form class="form-inline">
                <div class="row">
                    <!-- <div class="col-md-8"><img src="../../../assets/images/2.png"></div>
                    <div class="col-md-4"><img src="../../../assets/images/2.png"></div> -->
                        <!-- <div class="col-md-8"><input type="text" class="form-control" id="inlineFormInputName2" placeholder="Your email"></div>
                        <div class="col-md-4"><button type="submit" class="btn btn-primary">Submit</button></div> -->
                        <div class="social-container">
                            <a [href]="globalConfig.InstagramLink" class="social pl-3" *ngIf="globalConfig.InstagramLink">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a [href]="globalConfig.FacebookLink" class="social pl-3" *ngIf="globalConfig.FacebookLink">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a [href]="globalConfig.TwitterLink" class="social pl-3" *ngIf="globalConfig.TwitterLink">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                </div>
            </form>
            </div>
        </div>
    </div>
    <mat-toolbar class="footer">
        <div class="credit"><span>© 2021 Leading Sounds, All Rights Reserved</span></div>
        <!-- <div class="spacer"></div>
        <div class="social-container">
            <a mat-button href="/" class="social">
                <mat-icon>facebook</mat-icon>
            </a>
            <a mat-button href="/" class="social">
                <mat-icon>facebook</mat-icon>
            </a>
            <a mat-button href="/" class="social">
                <mat-icon>facebook</mat-icon>
            </a>
            <a mat-button href="/" class="social">
                <mat-icon>facebook</mat-icon>
            </a>
        </div> -->
    </mat-toolbar>
</div>