@import 'src/_variables';

.TandC-wrapper {
    //padding-top: 55px;
    .TandC-top-container {
        background-image: url('../../../assets/images/t&c.svg');
        background-size: contain;
        background-position: center;
        background-color: currentcolor;
        height: 60vh;
        .TandC-top-section {
            text-align: center;
            .title {
                padding-top: 25vh;
                h1 {
                    font-size: 36PX;
                    font-weight: bolder;
                    color: $tertiary;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                }
            }
            .subtitle {
                p {
                    font-size: 19px;
                    color: $tertiary;
                    letter-spacing: 1px;
                    font-family: sans-serif;
                }
            }
            hr {
                width: 100px;
                background-color: $primary;
            }
        }
    }

    .TandC-container {
        .TandC-section {
            padding: 5%;
            .header {
                font-size: 24px;
                font-weight: bold;
            }
            h2 {
                font-size: 18px;
                font-weight: bold;
            }
            p {
                color: $secondary;
                //padding-left: 15px;
            }
        }
    }
}