@import 'src/_variables';

.package-wrapper {
    //padding-top: 55px;
    .package-section {
        padding: 3% 7%;
        text-align: center;
        font-family: 'Arvo', serif;
        background-color: $background-light;

        .row {
            .left {
                padding: 20px;
                .img-wrapper {
                    border: 16px solid $primary;
                    border-radius: 15px;
                    img {
                        width: 100%;
                        height: 350px;
                    }
                }
            }
            .right {
                text-align: left;
                margin: auto;
                background: #fff;
                box-shadow: 2px 1px 14px 3px #ebebeb !important;
                padding: 20px;
                border-radius: 15px;
                .header {
                    h1 {
                        font-weight: bold;
                        font-size: 24px;
                        //margin-bottom: 0;
                        letter-spacing: 1px;
                    }
                    h3 {
                        font-size: 22px;
                        font-weight: bold;
                        color: $text-dark;
                        span {
                            font-size: 16px;
                            font-weight: 400;
                        }
                    }
                }
                .desc {
                    p {
                        color: $secondary;
                    }
                }
                .point {
                    .listings {
                        padding-left: 27px;
                        margin-right: 30px;
                        list-style: none;
                        text-align: left;

                       li {
                           list-style: none;
                           margin-bottom: 8px;
                           font-family: $font-family;
                           font-size: 14px;
                           font-weight: 500;
                           color: $text-dark;

                           &::before {
                            content: "\2713";
                            width: 20px;
                            height: 20px;
                            margin-left: -30px;
                            margin-right: 10px;
                            display: inline-block;
                            text-align: center;
                            line-height: 20px;
                            border-radius: 50px;
                            font-size: 11px;
                            font-weight: 700;
                            color: $primary;
                           }
                       }
                    }
                }
                .btn {
                    a {
                        border-radius: 25px;
                        font-size: 12px;
                        font-weight: 500;
                        padding: 15px 35px;
                        background-color: $primary;
                        color: $secondary;
                        border: none;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
.campaign-bottom-container {
    .container {
        padding-top: 3%;
        padding-bottom: 3%;
        h1 {
            text-align: center;
            font-weight: 500;
            font-size: 28px;
        }
        h3 {
            text-align: center;
            font-size: 18px;
            font-weight: 600;
            color: $text-dark;
            letter-spacing: 1px;
        }
        .hr {
            width: 100px;
            height: 1px;
            background-color: $primary;
        }
        .row {
            .card {
                border: none;
                padding-left: 0;
                padding-right: 0;
                background-color: $background-light;

                .header-section {
                    text-align: center;

                    .title {
                        margin-top: 55px;
                        h1 {
                            font-size: 20px;
                            margin-bottom: 0;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                            font-weight: 500;
                        }
                    }
                    .subtitle {
                        min-height: 23px;
                        p {
                            font-size: 14px;
                            font-weight: 400;
                            color: $primary;
                            font-family: sans-serif;
                        }
                    }
                }

                .famous {
                    background-color: $background-extra-dark;
                    .title {
                        margin-top: 43px;
                        h1 {
                            color: $tertiary;
                        }
                    }
                }

                .amount-section {
                    text-align: center;
                    h1 {
                        margin-bottom: -10px;
                        font-size: 64px;
                        font-weight: 500;
                        font-family: sans-serif;
                        span {
                            font-size: 14px;
                            font-weight: 500;
                            font-family: sans-serif;

                        }
                    }
                    h3 {
                        font-size: 12px;
                        color: $text-dark;
                        font-family: sans-serif;
                    }
                }

                .desc-section {
                    text-align: center;

                    p{
                        margin: 0 25px 0 25px;
                        font-size: 14px;
                        font-family: sans-serif;
                    }
                }
                hr.top {
                    margin-top: 0;
                    margin-bottom: 25px;
                }
                .btn-section {
                    margin-bottom: 25px;
                    text-align: center;

                    a {
                        border-radius: 25px;
                        font-size: 12px;
                        font-weight: 500;
                        padding: 8px 25px 8px 25px;
                        background-color: $primary;
                        color: $secondary;
                        border: none;
                        cursor: pointer;
                    }
                }
            }
        }
        //max-width: 256px;
    }
}