@import "src/_variables";

.work-container {
    .row {
        margin: 0;
        .left {
            background-size: cover;
            height: 80vh;
            .content {
                text-align: center;
                background: $transparent-bg;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 65%;
                .desc {
                    padding: 20px;
                    h2 {
                        font-weight: bold;
                        font-size: 24px;
                        color: $primary;
                        letter-spacing: 15px;
                    }
                    p {
                        color: $tertiary;
                    }
                }
            }
        }
        .right {
            background-size: cover;
            height: 80vh;
            .content {
                text-align: center;
                background: $transparent-bg;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 65%;
                .desc {
                    padding: 20px;
                    h2 {
                        font-weight: bold;
                        font-size: 24px;
                        color: $primary;
                        letter-spacing: 15px;
                    }
                    p {
                        color: $tertiary;
                    }
                }
            }
        }
    }
}
