<div class="work-container" *ngIf="feedData">
    <div class="row">
        <div class="col-md-6 col-sm-12 left"
            [ngStyle]="{'background-image': 'url(' + getImageUrl(feedData.BeforeImage.data.attributes.url) + ')'}">
            <div class="content">
                <div class="desc" data-aos="flip-left">
                    <h2 class="heading">{{feedData.BeforeHeading}}</h2>
                    <p>{{feedData.BeforeDesc}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 right"
        [ngStyle]="{'background-image': 'url(' + getImageUrl(feedData.AfterImage.data.attributes.url) + ')'}">
            <div class="content">
                <div class="desc" data-aos="flip-right">
                    <h2 class="heading">{{feedData.AfterHeading}}</h2>
                    <p>{{feedData.AfterDesc}}</p>
                </div>
            </div>
        </div>
    </div>
</div>