@import 'src/_variables';

.instagram-checkout-wrapper {
    .instagram-checkout-container {
        //border-bottom: 0.1px solid grey;
        font-family: 'Arvo', serif;
        
        .checkout-row {
            margin: 0;
            .item {
                margin: auto;
                padding: 0;
                .instagram-checkout-left {
                    text-align: center;
                    background-color: $primary;
                    padding: 6% 20% 6% 20%;
                    @media screen and (max-width: 768px) {
                        padding: 8% 0%;
                    }

                    .logo {
                        margin-bottom: 10px;
                        img {
                            width: 180px;
                            height: 150px;
                        }
                    }

                    .support {
                        align-items: center;

                        a {
                            color: $secondary;
                            font-size: 15px;
                            .material-icons {
                                vertical-align: middle;
                                font-size: 15px;
                            }
                            span {
                                margin-left: 3px;
                            }
                        }

                    }

                    .campaign-box {
                        padding: 20px;
                        background: $tertiary;
                        margin: 15px;
                        border-radius: 6px;
                        .header {
                            border-bottom: 1px solid $primary;
                            text-align: center;
                            h4 {
                                font-size: 18px;
                                font-family: $font-family;
                                letter-spacing: 1px;
                                font-weight: 700;
                                line-height: 1.5;
                            }
                            h6 {
                                margin-bottom: 0;
                                position: relative;
                                top: 10px;
                                line-height: 1.5;
                                font-weight: 500;
                                font-size: 16px;
                                span {
                                    padding: 10px;
                                    background: $tertiary;
                                }
                            }
                        }
                        .body {
                            text-align: left;
                            padding: 15px 10px 0px 10px;
                            p {
                                font-weight: 500;
                                font-size: 14px;
                                span {
                                    font-weight: 400;
                                }
                            }
                            label {
                                display: inline-block;
                                 margin-bottom: 0.5rem;
                                 font-weight: 400;
                                 font-family: $font-family;
                                 font-size: 14px;
                            }
                            select {
                                height: 40px;
                                font-size: 14px;
                                border: 1px solid #cdcdcd;
                                font-family: $font-family;
                            }
                        }
                    }

                    .listings {
                        margin-left: 30px;
                        margin-right: 30px;
                        list-style: none;
                        text-align: left;

                       li {
                           list-style: none;
                           margin-bottom: 8px;
                           font-family: $font-family;
                           font-size: 14px;
                           font-weight: 500;

                           &::before {
                            content: "\2713";
                            width: 20px;
                            height: 20px;
                            margin-left: -30px;
                            margin-right: 10px;
                            display: inline-block;
                            text-align: center;
                            line-height: 20px;
                            border-radius: 50px;
                            font-size: 11px;
                            font-weight: 700;
                            color: $secondary;
                           }
                       }
                    }
                    h1 {
                        color: $secondary;
                        font-weight: bold;
                        font-family: "oswald";
                        letter-spacing: 1px;
                        word-spacing: 2px;
                        font-size: 24px;
                        margin: 0;
                    }
                    p {
                        color: $background-extra-dark;
                    }
                    h2 {
                        color: $text-light;
                        font-weight: bold;
                        letter-spacing: 1px;
                        margin-bottom: 14px;
                    }
                    h5 {
                        color: $background-extra-dark;
                        letter-spacing: 2px;
                    }
                }
                .instagram-checkout-right {
                    padding: 3% 10%;
                    @media screen and (max-width: 768px) {
                        padding: 15%;
                    }
                    .right-body {
                        //border: 1px solid $secondary;
                        border-radius: 6px;
                        //padding: 10px 40px 40px;
                        h4 {
                            margin-bottom: 0;
                            position: relative;
                            top: -10px;
                            font-weight: 700;
                            background-color: $tertiary;
                            font-size: 1.5rem;
                        }
                        form {
                            input {
                                height: calc(1.5em + 0.75rem + 2px);
                                padding: 0.375rem 0.75rem;
                                font-size: 1rem;
                                font-weight: 400;
                                line-height: 1.5;
                                color: #495057;
                                background-color: #fff;
                                background-clip: padding-box;
                                border: 1px solid #ced4da;
                                border-radius: 0.25rem;
                                //width: 65%;
                            }
                            text-area {
                                
                                padding: 0.375rem 0.75rem;
                                font-size: 1rem;
                                font-weight: 400;
                                line-height: 1.5;
                                color: #495057;
                                background-color: #fff;
                                background-clip: padding-box;
                                border: 1px solid #ced4da;
                                border-radius: 0.25rem;
                                width: 65%;
                            }
                            label {
                                font-family: $font-family;
                                font-weight: 600;
                                font-size: 16px;
                            }
                            .submit-button {
                                min-width: 120px;
                                background-color: $primary;
                                color: #fff;
                                border: 1px solid $primary;
                                padding: 8px 20px;
                                border-radius: 6px;
                                color: $secondary;
                                font-family: $font-family;
                                letter-spacing: 1px;
                                font-weight: 600;
                            }
                            .float-right {
                                min-width: 185px;
                            }
                            .forgot-pw {
                                a {
                                    font-size: 16px;
                                    color: $background-extra-dark;
                                    font-family: $font-family;
                                    text-decoration: none;
                                }
                            }
                            .common-checkbox {
                                input {
                                    vertical-align: middle;
                                }
                                label {
                                    vertical-align: middle;
                                    margin-bottom: 4px;
                                    margin-left: 4px;
                                    font-size: 14px;
                                    font-weight: 400;
                                }
                            }
                            p {
                                font-size: 14px;
                            }
    
                        }
                    }
                }
            }
        }
}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}