<div *ngIf="!isLoaded">
    <app-loader></app-loader>
</div>
<div *ngIf="isLoaded">
    <div class="instagram-checkout-wrapper">
        <div class="instagram-checkout-container">
            <div class="row checkout-row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-12 item">
                    <div class="instagram-checkout-left">
                        <div class="logo">
                            <img [src]="globalConfig.SecondaryLogo.data.attributes.url | imagepipe" />
                        </div>
                        <div class="support">
                            <a href="mailto:marketing@leadingsounds.com">
                                <i class="material-icons">email</i>
                                <span>marketing@leadingsounds.com</span>
                            </a>
                        </div>
                        <div class="campaign-box">
                            <div class="header">
                                <h4>{{currentPackageData.attributes.Name}}</h4>
                                <h6><span>${{currentPackageData.attributes.Price}}<span>{{getFrequency(currentPackageData.attributes.Frequency)}}</span></span>
                                </h6>
                            </div>
                            <div class="body">
                                <p>Recurring Charge :
                                    <span>{{getFrequency(currentPackageData.attributes.Frequency)}}</span></p>
                                <label>Change Campaign</label>
                                <select id="changeCampaign" class="form-control ng-valid ng-touched ng-dirty" (change)="openPackage()">
                                    <option *ngFor="let package of spotifyPackagesData" [value]="package.id" [selected]="package.id == currentPackageData.id">
                                        {{package.attributes.Name}} ${{package.attributes.Price}}
                                        {{getFrequency(currentPackageData.attributes.Frequency)}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <ul class="listings">
                            <li *ngFor="let point of bulletPoints">{{point}}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-12 item">
                    <div class="instagram-checkout-right">

                        <div class="right-body">
                            <div id="info-form" *ngIf="!infoSubmitted">
                                <h4>Create your Leading Sounds account</h4>
                                <p>
                                    Please fill your details carefully. Make sure to double check your Spotify
                                    Username.
                                </p>
                                <form ngNativeValidate (ngSubmit)="next(true, false)">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-12 col-sm-12 col-12 mb-3">
                                                <label>First Name*</label>
                                                <input type="text" placeholder="First Name" name="FirstName" [(ngModel)]="firstName"
                                                    class="form-control ng-untouched ng-pristine" required />
                                            </div>
                                            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                                                <label>Last Name</label>
                                                <input type="text" placeholder="Last Name" name="LastName" [(ngModel)]="lastName"
                                                    class="form-control ng-untouched ng-pristine ng-invalid">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-12 col-sm-12 col-12 mb-3">
                                                <label>Email
                                                    Address*</label>
                                                <input type="email" placeholder="name@company.com" name="Email" [(ngModel)]="email"
                                                    class="form-control ng-untouched ng-pristine ng-invalid" required />
                                            </div>
                                            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                                                <label>Phone Number*</label>
                                                <input type="number" placeholder="Phone Number" name="Phone" [(ngModel)]="phone"
                                                    class="form-control ng-dirty ng-valid ng-touched" required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
                                                <label>Spotify Username*</label>
                                                <input type="text" placeholder="Spotify Username"
                                                    name="Username" [(ngModel)]="spotifyUserName"
                                                    class="form-control ng-untouched ng-pristine ng-invalid" required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row justify-content-between align-items-center">
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-6">
                                                <button type="submit" class="submit-button">
                                                    Next >
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div id="billing-form" *ngIf="infoSubmitted && !billingSubmitted">
                                <h4>Billing Information</h4>
                                <p>
                                    Please fill your billing address carefully.
                                </p>
                                <form ngNativeValidate (ngSubmit)="checkout($event)">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-12 col-sm-12 col-12 mb-3">
                                                <label>Address*</label><input type="text" placeholder="Address"
                                                    name="Address" [(ngModel)]="address"
                                                    class="form-control ng-untouched ng-pristine ng-invalid" required />
                                            </div>
                                            <div class="col-lg-6 col-md-12 col-sm-12 col-12"><label>City</label>
                                                <input type="text" placeholder="City" name="City" [(ngModel)]="city"
                                                    class="form-control ng-untouched ng-pristine ng-invalid" required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-12 col-sm-12 col-12 mb-3">
                                                <label>State*</label>
                                                <input type="text" placeholder="State" name="State" [(ngModel)]="state"
                                                    class="form-control ng-untouched ng-pristine ng-invalid" required />
                                            </div>
                                            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                                                <label>Zip / Postal Code*</label>
                                                <input type="tel" placeholder="Zip / Postal Code"
                                                    name="Postal" [(ngModel)]="zipCode"
                                                    class="form-control ng-untouched ng-pristine ng-invalid" required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
                                                <label>Country*</label>
                                                <input type="text" placeholder="Country" name="Country" [(ngModel)]="country"
                                                    class="form-control ng-dirty ng-valid ng-touched" required />
                                            </div>
                                        </div>
                                    </div><div class="form-group">
                                        <p>Please check this box to acknowledge you authorize this
                                            charge and your membership with Leading Sounds Team</p>
                                        <div class="common-checkbox mb-2">
                                            <input type="checkbox" formcontrolname="authorize_payment"
                                                id="authorize_payment" class="ng-untouched ng-pristine ng-invalid" required>
                                            <label for="authorize_payment">I authorize this payment of <span *ngIf="currency=='inr'">&#8377;</span><span *ngIf="currency!='inr'">$</span>{{getFinalAmount()}}</label>
                                        </div>
                                        <div class="common-checkbox mb-2 d-flex">
                                            <input type="checkbox" formcontrolname="terms" id="terms"
                                                class="ng-untouched ng-pristine ng-invalid" required>
                                            <label for="terms" class="review">Please Review Terms of Service Before
                                                Purchasing
                                                By <a routerLink="/t&c"
                                                    target="_blank"><u><u>Clicking Here</u></u></a></label>
                                        </div>
                                        <!-- <div class="credit-card-img mt-4"><img src="/assets/images/creditcard.png"
                                                alt="creditcard"></div> -->
                                    </div>
                                    <div class="form-group">
                                        <div class="row justify-content-between align-items-center">

                                            <div class="col-md-2 mb-2 text-center">
                                                <button class="submit-button" (click)="next(false, false)">
                                                    < Back</button>
                                            </div>
                                            <div class="col-md-6 mb-2 text-center">
                                                <button type="submit" class="submit-button">
                                                    <span *ngIf="!cardOverlayOpened">Make Payment(${{getFinalAmount()}})</span>
                                                    <span *ngIf="cardOverlayOpened" class="please-wait">Please Wait<i class="fa fa-spinner fa-spin ls-spinner"></i></span>
                                                    </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-12 payment-error">
                                            <p class="payment-err" *ngIf="paymentError">{{paymentError}}
                                                <br />
                                                <a routerLink="/contact-us"><u>Contact Us</u></a>
                                                <!-- <span (click)="convertToInr()">Convert to INR</span> -->
                                            </p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>