<div class="lot-faq">
    <div *ngFor="let item of faqDataArray; let i=index" class="lot-faq-collapsible" (click)="faqClicked(i)">
        <div class="lot-faq-question">
            <i class="material-icons lot-faq-question-icon"
            [ngClass]="{'lot-faq-question-icon-rotate':item.expanded == 'expanded'}">add</i>
            <div class="lot-faq-question-content" [innerHtml]="item.question"></div>
        </div>
        <div class="lot-faq-answer" [@slideInOut]="item.expanded">
            <p class="lot-faq-answer-content" [innerHtml]="item.answer"></p>
        </div>
    </div>
  </div>
