@import "src/_variables";

.rotate:before {
  transform: rotate(45deg);
}

.icon-rotate:before {
  transition-duration: 0.4s;
  display: inline-block;
}

.lot-faq {
  .lot-faq-collapsible {
    margin-bottom: 10px;
    padding: 0 10px 0 0;
    cursor: pointer;
    background-color: $tertiary;
  }

  .lot-faq-question {
    position: relative;
    .lot-faq-question-icon::before {
      font-size: 12px;
      color: $secondary;
      font-weight: bold;
      position: relative;
      top: 10px;
      transition-duration: 0.8s;
      display: inline-block;
      text-shadow: 0.5px 0.5px 0.5px;
    }
    .lot-faq-question-icon-rotate {
      transform: rotate(45deg);
      transition-duration: 0.8s;
    }
  }

  .lot-faq-question-icon {
    float: left;
    padding: 10px 15px;
    color: $primary;
    transition-duration: 0.8s;
  }
  .lot-faq-question-content {
    padding: 10px 0;
    font-size: 15px;
    letter-spacing: -0.02px;
    color: $secondary;
    display: flex;
  }

  .lot-faq-answer {
    overflow: hidden;
    .lot-faq-answer-content {
      font-size: 14px;
      line-height: 23px;
      font-weight: 300;
      margin-bottom: 10px;
      color: slategrey;
      margin-left: 4%;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .lot-faq {
    // margin-top: -6%;
  }
}
@media only screen and (max-width: 1138px) {
  .lot-faq {
    .lot-faq-heading {
      margin: 20px 17px;
    }
    .lot-faq-collapsible {
      padding: 0 15px;
    }
  }
}
