<div class="wrapper about-container" *ngIf="aboutUsData">
    <div class="container1">
        <div class="heading">
            <h1 class="heading-primary">{{feedData.AboutUsTitle}}</h1>
            <p>{{feedData.AboutUsSubtitle}}</p>
            <hr class="primary-hr" />
        </div>
        <div class="row justify-content-center">
            <div class="card card-custom mb-2 col-lg-4" data-aos="zoom-in"
                *ngFor="let item of aboutUsData; let i=index">
                <div class="header-section">
                    <div class="title">
                        <img [src]="item.attributes.Image.data.attributes.url | imagepipe" />
                    </div>
                </div>
                <div class="desc-section">
                    <h1><span class="number">0{{i+1}}</span><span class="bar">|</span>{{item.attributes.ItemHeading}}
                    </h1>
                    <p>{{item.attributes.ItemDescription}}</p>
                </div>
            </div>
        </div>
    </div>
</div>