@import "src/_variables";

.about-container {
    .container1 {
        .heading {
            text-align: center;
        }
        .row {
            .card {
                background: $tertiary;
                border-radius: 15px;
                border: none;

                .header-section {
                    text-align: center;

                    .title {
                        margin: 20px 0 20px 0;
                        padding: 10px;
                        img {
                            width: 100px;
                            height: 100px;
                        }
                    }
                }

                .desc-section {
                    text-align: center;
                    margin-bottom: 20px;
                    h1 {
                        font-weight: 500;
                        font-size: 24px;
                        color: $secondary;
                        .number {
                            color: $primary;
                        }
                        .bar {
                            color: #4b4943;
                            padding-left: 5px;
                            padding-right: 5px;
                            color: $primary;
                        }
                    }

                    p {
                        margin: 0 25px 0 25px;
                        font-size: 14px;
                        font-family: $font-family;
                    }
                }
            }
        }
    }
}
