<mat-toolbar color="primary" class="header fixed">
  <!-- <span class="logo"><i class="material-icons">cruelty_free</i>Leading Sounds</span> -->

  <div class="logo" (click)="goToHome()">
    <img [src]="globalConfig.PrimaryLogo.data.attributes.url | imagepipe" />
  </div>
  <div class="spacer"></div>
  <div class="desktop-menu">
    <div>
      <a (mouseenter)="closeMyMenu()" mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
        class="nav-link">Home</a>
      <a (mouseenter)="closeMyMenu()" mat-button routerLink="/about-us" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
        class="nav-link">About Us</a>
      <a (mouseenter)="closeMyMenu()" mat-button routerLink="/publication" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
        class="nav-link">Press & Publications</a>
      <a mat-button (mouseenter)="openMyMenu(0)" [matMenuTriggerFor]="menu1" class="dropdown">Instagram<i
          class="material-icons">keyboard_arrow_down</i></a>
      <mat-menu #menu1="matMenu" [hasBackdrop]="false">
        <span (mouseleave)="closeMyMenu()">
          <button mat-menu-item>
            <a routerLink="/instagram/campaign">Campaign</a>
          </button>
          <button mat-menu-item>
            <a routerLink="/instagram/repost">Reposts/Features</a>
          </button></span>
      </mat-menu>
      <a mat-button (mouseenter)="openMyMenu(1)" [matMenuTriggerFor]="menu2" class="dropdown">Campaign<i
          class="material-icons">keyboard_arrow_down</i></a>
      <mat-menu #menu2="matMenu" [hasBackdrop]="false">
        <span (mouseleave)="closeMyMenu()">
          <button mat-menu-item>
            <a routerLink="/spotify/campaign">Spotify</a>
          </button>
          <button mat-menu-item>
            <a routerLink="/youtube/campaign">Youtube</a>
          </button></span>
      </mat-menu>
      <a (mouseenter)="closeMyMenu()" mat-button routerLink="/contact-us" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
        class="nav-link">Contact Us</a>
    </div>
    <a (mouseenter)="closeMyMenu()" *ngIf="displayCartIcon" mat-button routerLink="/cart" class="btn-secondary cart-btn"><i
        class="material-icons">shopping_cart</i><sup>{{cartItemCount}}</sup></a>
  </div>

  <div class="mobile-menu">
    <a *ngIf="displayCartIcon" mat-button routerLink="/cart" class="btn-secondary cart-btn"><i
        class="material-icons">shopping_cart</i><sup>{{cartItemCount}}</sup></a>
    <a (click)="openMobileMenu()" class="menu-btn">
      <mat-icon>menu</mat-icon>
    </a>
  </div>

  <div class="mobile-menu-content" id="mobile-menu">
    <div class="content">
      <div class="mobile-logo">
        <img [src]="globalConfig.PrimaryLogo.data.attributes.url | imagepipe" />
      </div>
      <div>
        <div>
          <a mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
            class="nav-link">Home</a>
        </div>
        <div>
          <a mat-button routerLink="/about-us" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
            class="nav-link">About Us</a>
        </div>
        <div>
          <a mat-button routerLink="/publication" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
            class="nav-link">Press & Publications</a>
        </div>
        <div><a mat-button routerLink="/instagram/campaign" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}" class="nav-link">Instagram Campaign</a></div>
        <div><a mat-button routerLink="/instagram/repost" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}" class="nav-link">Reposts/Features</a></div>
        <div><a mat-button routerLink="/spotify/campaign" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}" class="nav-link">Spotify Campaign</a></div>
        <div><a mat-button routerLink="/youtube/campaign" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}" class="nav-link">Youtube Campaign</a></div>

        <div>
          <a mat-button routerLink="/contact-us" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
            class="nav-link">Contact Us</a>
        </div>
      </div>
      <div class="close">
        <a (click)="closeMobileMenu()">
          <mat-icon>cancel</mat-icon>
        </a>
      </div>
    </div>
  </div>
</mat-toolbar>
