@import "src/_variables";
.header {
    background-color: $secondary;
    position: sticky;
    top: 0;
    z-index: 1000;
    .logo {
        img {
            height: 52px;
        }
    }
    .spacer {
        flex: 1 1 auto;
    }
    .nav-link:active {
        color: $primary;
    }
    .user-btn {
        margin-left: 5px;
        text-decoration: none;
    }
    .cart-btn {
        &:hover {
            color: $primary;
        }
        sup {
            font-weight: 600;
            font-size: 13px;
            border-radius: 50%;
            margin-top: 15px;
            position: absolute;
        }
        // span {
        //     position:relative;
        //     padding:0; margin:0;
        //     cursor: pointer;
        //   }
        //   span:after
        //   {
        //   content:"";
        //   position:absolute;
        //   display:inline-block;
        //   left:-1px;
        //   top:7px;
        //   background:gold;
        //   border-radius: 50%;
        //   width:0.5em;
        //   height:0.5em;
        //   font-size:1.3em;
        //   z-index:-1;
        //   }
    }
    // .login-btn {
    //     border: 1px solid $tertiary;
    // }
    .nav-link.active {
        color: $primary;
    }
    .dropdown {
        text-decoration: none;
    }
}
.mat-menu-item {
    text-align: center !important;
    height: 35px;
    line-height: 35px;
    a {
        color: $secondary;
        text-decoration: none;
        font-size: 16px;
    }
}

.mat-button {
    padding: 0 10px;
}

.desktop-menu {
    display: flex;
    @media screen and (max-width: 768px) {
        display: none;
    }
}

.mobile-menu {
    .menu-btn {
        color: $tertiary;
        vertical-align: bottom;
    }
    @media screen and (min-width: 769px) {
        display: none;
    }
}

.mobile-menu-content {
    display: none;
    position: fixed;
    z-index: 999;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    left: 0px;
    transition: all 0.3s ease-in-out 0s;
    opacity: 1;
    top: 0px;
    background-color: rgb(1, 6, 6);
    height: 100%;
    text-align: center;
    .content {
        position: relative;
        top: 45%;
        transform: translateY(-50%);
        .mobile-logo {
            img {
                height: 120px;
            }
        }
        .close {
            width: 100%;
            text-align: center;
            padding-top: 20px;
            a {
                cursor: pointer;
                color: $tertiary;
                mat-icon {
                    font-size: 30px;
                }
            }
        }
    }
    
}

.mat-menu-content {
    background-color: red !important;
}