@import "src/_variables";

.video-wrapper {
    .wrapper {
        padding-top: 60px;
        .video {
            video {
                border: 5px solid $primary;
                //height: 500px !important;
            }
        }
    }
}