<swiper [config]="config" class="mySwiper" *ngIf="teaserData">
  <ng-container *ngFor="let item of teaserData">
    <ng-template swiperSlide>
      <div class="tile" [ngStyle]="{'background-image': 'url(' + getImageUrl(item.attributes.Image.data.attributes.url) + ')'}">
        <div class="teaser-data">
          <h3>{{item.attributes.Title}}</h3>
          <h1>{{item.attributes.SubTitle}}</h1>
          <button (click)="openLink(item.attributes.Link)">{{item.attributes.LinkText}}</button>
        </div>
      </div>
    </ng-template>
  </ng-container>
</swiper>
<ul class="myPoint">
  <li class="scroll-down" (click)="scrollToPartners('partners')"></li>
</ul>