@import "src/_variables";
@import "~swiper/css";
@import "~swiper/css/effect-fade";
@import "~swiper/css/navigation";
@import "~swiper/css/pagination";
@import "~swiper/css/autoplay";

.mySwiper {
    .tile {
        min-height: 95vh;
        background-size: cover !important;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        font-weight: 800;
        border-color: transparent;
        img {
            width: 100%;
            height: 100%;
        }

        .teaser-data {
            left: 200px;
            margin-left: -40%;
            @media screen and (max-width: 1024px) {
                margin-left: -20% !important;
            }
            @media screen and (max-width: 480px) {
                margin-left: 0% !important;
            }
            h3 {
                color: $tertiary;
                font-size: 20px;
                font-family: Nunito Sans;
                font-weight: bold;
                letter-spacing: 2px;
                @media screen and (max-width: 768px) {
                    font-size: 16px;
                    margin-bottom: 5px;
                }
            }
            h1 {
                color: $tertiary;
                font-size: 50px;
                font-family: sans-serif;
                font-weight: bold;
                @media screen and (max-width: 768px) {
                    font-size: 25px;
                    margin-bottom: 5px;
                }
            }
            button {
                border-radius: 30px;
                border-color: transparent;
                color: $tertiary;
                padding: 12px 25px;
                background: $primary;
                font-size: 18px;
                margin-top: 8px;
                @media screen and (max-width: 768px) {
                    padding: 6px 15px;
                    font-size: 14px;
                }
            }
        }
    }
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 35px;
    height: 35px;
    border-radius: 999px;
    z-index: 2;
    background-color: $primary;
    color: $secondary;
    border-color: transparent;
    cursor: pointer;
}

.swiper-button-prev {
    left: 15px;
}

.swiper-button-next {
    right: 15px;
}
.swiper-button-prev::after {
    font-size: 20px !important;
}
.swiper-button-next::after {
    font-size: 20px !important;
}

@keyframes scroll-down {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: 90%;
    }
}

.myPoint {
    list-style-type: none;
    text-align: center;
    padding: 12px;
    margin: 0;
    white-space: nowrap;
    overflow: auto;
    box-sizing: border-box;
    margin-top: -120px;
    position: relative;
    z-index: 999;
}
.myPoint li {
    cursor: pointer;
    display: inline-block;
    border-radius: 50px;
    border: 3px solid $primary;
    padding: 4px;
    margin: 0 3px;
    transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
    transition: 0.4s;
    background: transparent;
    transform: scale(1);
    width: 30px;
    height: 45px;

    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 20%;
        border: 2px solid $primary;
        width: 10px;
        height: 10px;
        transform: translate(-50%, -100%) rotate(45deg);
        border-top: transparent;
        border-left: transparent;
        animation: scroll-down 1.5s ease-in-out infinite;
    }
    &::after {
        top: 30%;
        animation-delay: 0.6s;
    }
}
