<div *ngIf="!isLoaded">
    <app-loader></app-loader>
</div>
<div *ngIf="isLoaded">
    <app-teaser></app-teaser>
    <app-video></app-video>
    <app-about-us></app-about-us>
    <app-services></app-services>
    <app-why-promote></app-why-promote>
    <app-partners></app-partners>
    <app-our-work></app-our-work>
    <app-testimonials></app-testimonials>
</div>