@import 'src/_variables';

.about-us-wrapper {
    //padding-top: 55px;
    .about-us-top-container {
        background-image: url('../../../assets/images/contact.jpg'); 
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
        background-color: currentColor;
        height: 60vh;
        .about-us-top-section {
            text-align: center;
            .title {
                padding-top: 15vh;
                h1 {
                    font-size: 36PX;
                    font-weight: bolder;
                    color: $tertiary;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                }
            }
            .subtitle {
                p {
                    font-size: 14px;
                    color: $tertiary;
                    letter-spacing: 1px;
                    font-family: sans-serif;
                    padding: 0 20px 0 20px;
                }
            }
            hr {
                width: 100px;
                background-color: $primary;
            }
        }
    }
    .middle-section {
        .middle-section-wrapper {
            margin: 7%;
            .left {
                margin: auto;
                h1 {
                    font-size: 36px;
                    font-weight: 600;
                    font-family: "Montserrat",sans-serif;
                }
                p {
                    font-family: "Montserrat",sans-serif;
                }
                .contact-item {
                    display: flex;
                    margin: 20px 0 20px 0;
                    i {
                        font-size: 50px;
                        color: $primary;
                    }
                    .info {
                        padding-left: 10px;
                        h4 {
                            margin: 0;
                            font-weight: 400;
                        }
                        p {
                            font-size: 14px;
                        }
                    }
                }
            }
            .right {
                padding: 30px;
                box-shadow: 0px 0px 2px 0px rgb(0 0 0 / 50%);
                //background-image: linear-gradient(90deg,#00deff 0%,#7141b1 100%);
                .form-wrapper {
                h1 {
                    font-size: 36px;
                    font-weight: 600;
                    color: $secondary;
                    line-height: 1.2;
                    font-family: "Montserrat",sans-serif;
                    text-align: center;
                    margin-bottom: 5px;
                }
                .dark-text {
                    text-align: center;
                    margin-bottom: 22px;
                }
                    .form {
                        .contact-form {
                            .row {
                                //padding-bottom: 24px;
                                .col-md-6 {
                                    display: grid;
                                    label {
                                        font-size: 12px;
                                        font-weight: 400;
                                    }
                                    input {
                                        border: 1px solid #e7e7e7;
                                        padding: 0.75rem 0.75rem;
                                        font-size: 13px;
                                        padding-left: 20px;
                                    }
                                }
                                textarea {
                                    width: 100%;
                                    border: 1px solid #e7e7e7;
                                    padding: 0.75rem 0.75rem;
                                    font-size: 13px;
                                    padding-left: 20px;
                                }
                                
                            }
                            .options {
                                padding: 0 20px;
                                .col-md-4 {
                                    margin-bottom: 15px;
                                    input {
                                        margin-right: 10px;
                                    }
                                    label {
                                        font-size: 13px;
                                    }
                                }
                            }
                            .submit-button {
                                input {
                                    display: inline-block;
                                    font-weight: 400;
                                    text-align: center;
                                    white-space: nowrap;
                                    vertical-align: middle;
                                    padding: 12px 72px;
                                    background-color: $primary;
                                    font-size: 15px;
                                    border: none;
                                    color: $tertiary;
                                    border-radius: 4px;
                                }
                            }
                        }
                    }
            }
            }
        }
    }
}

#contact-us-success {
    display: none;
}