<div class="about-us-wrapper">
    <div class="about-us-top-container">
        <div class="about-us-top-section">
            <div class="title">
                <h1>Get In Touch</h1>
            </div>
            <div class="subtitle">
                <p>Alienum phaedrum torquatos nec eu, vis detraxit periculis ex, nihil expetendis in mei. Mei an
                    pericula euripidis, hinc partem ei est. Eos ei nisl graecis, vix aperiri consequat an. Eius lorem
                    tincidunt vix at, vel pertinax sensibus id, error epicurei mea et. Mea facilisis urbanitas.</p>
            </div>
            <hr />
        </div>
    </div>
    <div class="middle-section">
        <div class="row middle-section-wrapper">
            <div class="col-lg-4 left">
                <h1>Contact Us</h1>
                <p class="dark-text">Find out how we can elevate your business and its revenue.</p>
                <p class="black-text">Connect to us on a call or WhatsApp anytime.</p>
                <p class="black-text">Get your queries solved.</p>
                <p class="dark-text">Don’t forget to contact us before choosing any Digital Marketing Service.</p>
                <div class="contact-item">
                    <i class="material-icons">email</i>
                    <div class="info">
                        <h4>Our Email</h4>
                        <p>marketing@leadingsounds.com</p>
                    </div>
                </div>
                <div class="contact-item">
                    <i class="material-icons">phone</i>
                    <div class="info">
                        <h4>Our Phone</h4>
                        <p>+91 7310523717</p>
                    </div>
                </div>
                <div class="contact-item">
                    <i class="material-icons">location_on</i>
                    <div class="info">
                        <h4>Our Address</h4>
                        <p>4th Floor, B-90, Gali Number 10, Mayur Vihar, Delhi, 110091</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 right">
                <div class="form-wrapper">
                    <h1>Ready to Get Started?</h1>
                    <p class="dark-text">You can fill out the form below and submit your request with us.</p>
                    <div class="form">
                        <form ngNativeValidate (ngSubmit)="submit($event)" id="contact-form">
                            <div class="contact-form">
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label>First Name*</label>
                                        <input type="text" name="firstname" placeholder="First Name"
                                            [(ngModel)]="firstName" required />
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label>Last Name*</label>
                                        <input type="text" name="lastname" placeholder="Last Name"
                                            [(ngModel)]="lastName" required />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label>Phone*</label>
                                        <input type="number" name="phone" placeholder="Phone" [(ngModel)]="phone"
                                            required />
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label>Email*</label>
                                        <input type="email" name="lastname" placeholder="Email" [(ngModel)]="email"
                                            required />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>What services are you interested in?</label><br />
                                        <div class="options row">
                                            <div class="col-md-4 col-sm-6">
                                                <input type="checkbox" id="Instagram" name="Instagram"
                                                    [(ngModel)]="instagram" />
                                                <label class="dark-text">Instagram</label>
                                            </div>
                                            <div class="col-md-4 col-sm-6">
                                                <input type="checkbox" id="Spotify" name="Spotify"
                                                    [(ngModel)]="spotify" />
                                                <label class="dark-text">Spotify</label>
                                            </div>
                                            <div class="col-md-4 col-sm-6">
                                                <input type="checkbox" id="Youtube" name="Youtube"
                                                    [(ngModel)]="youtube" />
                                                <label class="dark-text">Youtube</label>
                                            </div>
                                            <div class="col-md-4 col-sm-6">
                                                <input type="checkbox" id="SoundCloud" name="SoundCloud"
                                                    [(ngModel)]="soundcloud" />
                                                <label class="dark-text">SoundCloud</label>
                                            </div>
                                            <div class="col-md-4 col-sm-6">
                                                <input type="checkbox" id="Web Design" name="Web Design"
                                                    [(ngModel)]="webDesign" />
                                                <label class="dark-text">Web Design</label>
                                            </div>
                                            <div class="col-md-4 col-sm-6 mb-0">
                                                <input type="checkbox" id="Web Development" name="Web Development"
                                                    [(ngModel)]="webDevelopment" />
                                                <label class="dark-text">Web Development</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 mb-3">
                                        <label>Tell us about yourself and the goals you have moving
                                            forward!</label><br />
                                        <textarea name="message" rows="7" placeholder="The more information better!"
                                            [(ngModel)]="aboutClient"></textarea>
                                    </div>
                                </div>
                                <div class="row submit-button">
                                    <div class="col-md-12">
                                        <input type="submit" value="Submit" />
                                    </div>
                                </div>
                                <div class="payment-error mt-2" *ngIf="isError">
                                    <p>We are facing some technical issue. Please try again after sometime.</p>
                                </div>
                                <div class="success-reult mt-2" id="contact-us-success" *ngIf="!isError">
                                    <p class="mt-3"><b>Thank you for getting in touch!</b></p>
                                    <p>We appreciate you contacting us. One of our colleagues will get back in touch
                                        with you soon. Have a great day!</p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>