@import 'src/_variables';

.cart-wrapper {
    ////padding-top: 55px;
    .empty-cart-container {
        margin: 8%;
        text-align: center;
        font-family: 'Arvo', serif;
        
        .four_zero_four_bg{
            background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
            height: 400px;
            background-position: center;
        }
    
        .four_zero_four_bg h1{
            font-size:35px;
        }
          
        .link_404{      
            color: #fff!important;
            padding: 10px 20px;
            background: $primary;
            margin: 20px 0;
            display: inline-block;
            text-decoration: none;
            .contant_box_404{ 
                margin-top:-50px;
            }
    }
}

    .cart-container {
        margin: 1% 8%;
        text-align: center;
        font-family: $font-family;
        @media screen and (max-width: 767px) {
            margin: 2%;
        }

        .cart-header {
            display: flex;
            width: 100%;
            .heading {
                width: 100%;
                border: 1px solid $tertiary;
                border-left: 8px solid $primary;
                background-color: $secondary;
                padding: 10px;
                h1 {
                    float: left;
                    margin-left: 10px;
                    font-weight: 500;
                    margin-bottom: 0;
                    color: $tertiary;
                    font-family: $font-family;
                }
                button {
                    padding: 8px 10px;
                    float: right;
                    background-color: $primary;
                    border: none;
                    color: $secondary;
                    font-family: $font-family;
                    border-radius: 12px;
                }
                
            }
            .shopping-btn {
                width: 33%;
                button {
                    float: right;
                    margin-right: 10px;
                    padding: 16px 30px 16px 30px;
                    border-radius: 50px;
                    background-color: $secondary;
                    border: none;
                    color: $tertiary;
                }
            }
        }

        .product-table {
            padding-bottom: 0;
            @media screen and (max-width: 768px) {
                margin-left: 0;
            }
            table {
                background: $tertiary;
                box-shadow: 2px 1px 14px 3px #ebebeb !important;
                border-radius: 15px;
                width: 100%;
                thead {
                    border-bottom: 1px solid rgba(0,0,0,.1);
                    tr {
                        th {
                            font-weight: 700;
                            padding: 9px 12px;
                            line-height: 1.5em;
                            color: $primary;
                            border: none;
                            @media screen and (max-width: 520px) {
                                padding: 5px;
                            }
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            padding: 30px 20px 25px 0px;
                            border-bottom: 1px solid rgba(0,0,0,.1);
                            @media screen and (max-width: 520px) {
                                padding: 20px 2px 15px 0px;
                            }

                            .icon {
                                box-shadow: 0 2px 12px rgb(0 0 0 / 8%);
                                margin: 0 10px 0 10px;
                                padding: 3px 10px 5px 10px;
                                cursor: pointer;
                                &:hover {
                                    background-color: $primary;
                                }
                            }
                            .quantity {
                                font-weight: 600;
                                font-size: 20px;
                            }
                            .checkout-controls {
                                display: flex;
                                @media screen and (max-width: 768px) {
                                    display: block;
                                }
                                .coupon {
                                    min-width: 60%;
                                    text-align: left;
                                    input {
                                        padding: 16px;
                                        font-size: 14px;
                                        background-color: #fff;
                                        border-radius: 4px;
                                        border: 2px solid #F4F4F4;
                                        float: none;
                                        line-height: 18px;
                                        margin-right: 8px;
                                        font-family: $font-family;
                                    }
                                    button {
                                        padding: 16px 30px;
                                        background-color: $primary;
                                        border: none;
                                        color: $secondary;
                                        font-family: $font-family;
                                        .wait {
                                            color: $tertiary;
                                        }
                                    }
                                    .checkout-btn {
                                        padding: 10px 60px;
                                        background-color: $primary;
                                        border: none;
                                        color: $secondary;
                                        font-family: $font-family;
                                    }
                                }
                            }
                            .checkout {
                                display: flex;
                                min-width: 40%;
                                @media screen and (max-width: 768px) {
                                    text-align: center;
                                    margin-top: 30px;
                                }
                                button {
                                }
                            }
                            .coupon-result {
                                visibility: hidden;
                                width: 100%;
                                p {
                                    font-weight: 400;
                                    font-size: 14px;
                                    margin-bottom: 0;
                                }
                                .success {
                                    color: #258625;
                                }
                                .error {
                                    color: #f40404;
                                }
                            }
                            .empty-cart {
                                //margin-top: -38px;
                                button {
                                    padding: 16px 50px;
                                    background-color: red;
                                    border: none;
                                    color: $tertiary;
                                    font-family: $font-family;
                                }
                            }
                            .delete {
                                cursor: pointer;
                                &:hover {
                                    color: red;
                                }
                            }
                        }
                        .total {
                            font-weight: 600;
                        }
                        .checkout-controls-wrapper {
                            border: none;
                        }
                    }
                    .summary {
                        background-color: $background-light;
                    }
                }
            }
        }

        .promo-container {
            //padding: 0;
            background: $tertiary;
            box-shadow: 2px 1px 14px 3px #ebebeb !important;
            border-radius: 15px;
            width: 100%;
            @media screen and (max-width: 768px) {
                margin: 5% 0%;
            }
            .image {
                img {
                    width: 100%;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                    max-height: 250px;
                }
            }
            .title {
                background-color: $secondary; 
                h3 {
                    color: $primary;
                    font-size: 16px;
                    padding: 5px;
                }
            }
            .desc {
                padding: 0 15px 5px 15px;
            }
            .btn {
                margin-bottom: 8px;
                a {
                    background-color: $primary;
                    color: $secondary;
                    border: none;
                    border-radius: 10px;
                    padding: 4px 20px 6px 20px;
                    border-radius: 50px;
                    background-color: $primary;
                    border: none;
                    font-family: $font-family;
                    font-size: 14px;
                }
            }
        }
    }
}