<div *ngIf="!isLoaded">
    <app-loader></app-loader>
</div>
<div *ngIf="isLoaded">
    <div class="cart-wrapper">
        <div class="empty-cart-container" *ngIf="cartItems.length == 0">

            <div class="row">
                <div class="col-sm-12 ">
                    <div class="col-sm-12 col-sm-offset-1  text-center">
                        <div class="four_zero_four_bg">
                            <h1 class="text-center">Your cart is empty.</h1>
                        </div>
                        <div class="contant_box_404">
                            <p>You haven't added any item in your cart</p>
                            <a routerLink="/instagram/repost" class="link_404">Go to Shop</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="cart-container" *ngIf="cartItems.length > 0">
            <div class="row mb-3 ml-0 mr-0">
                <div class="cart-header">
                    <div class="heading">
                        <div>
                            <h1>Shopping Cart</h1>
                        </div>
                        <div>
                            <button class="button" (click)="emptyCart()">Empty
                                Cart</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row ml-0 mr-0">
                <div class="col-sm-12 col-lg-8 box product-table">
                    <form>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr class="header">
                                        <th scope="col">Product</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Subtotal</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="item" *ngFor="let item of cartItems; let i = index">
                                        <td>{{item.name}}</td>
                                        <td>${{item.price}}</td>
                                        <td>
                                            <span class="icon" (click)="removeItem(item.id)">-</span>
                                            <span class="quantity">{{item.buyCounter}}</span>
                                            <span class="icon" (click)="addItem(item.id)">+</span>
                                        </td>
                                        <td>${{item.price*item.buyCounter}}</td>
                                        <td><i class="material-icons delete" (click)="deleteItem(i, item.id)">delete</i>
                                        </td>
                                    </tr>
                                    <tr class="item summary">
                                        <td class="total">Discount</td>
                                        <td>${{discountedAmount}}</td>
                                        <td class="total">Total</td>
                                        <td>${{totalAmount}} - ${{discountedAmount}} = <span
                                                class="total">${{getFinalAmount()}}</span></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td colspan="6" class="checkout-controls-wrapper">
                                            <div class="checkout-controls d-block text-center">
                                                <div class="coupon row mb-1">
                                                    <div class="col-sm-12 text-center mb-1">
                                                        <input type="text" name="coupon_code" class="input-text"
                                                            id="coupon_code" value="" placeholder="Coupon code"
                                                            [(ngModel)]="couponCode">
                                                        <button type="submit" class="button" name="apply_coupon"
                                                            value="Apply coupon" (click)="applyCoupon()">
                                                            <span *ngIf="!couponSpinner">Apply </span>
                                                            <span *ngIf="couponSpinner" class="wait">Please Wait<i
                                                                    class="fa fa-spinner fa-spin ls-spinner"></i></span>
                                                        </button>
                                                    </div>
                                                    <div class="coupon-result text-center mb-2" id="coupon-result">
                                                        <p class="success" *ngIf="!isIncorrectCoupon">Coupon <b>{{couponCode}}</b> is
                                                            applied successfully!</p>
                                                        <p class="error" *ngIf="isIncorrectCoupon">This coupon code is invalid
                                                            or
                                                            has expired.</p>
                                                    </div>
                                                    <div class="col-sm-12 text-center mb-3">
                                                        <button class="checkout-btn" type="button"
                                                            (click)="cartCheckout()">Checkout ({{noOfItem}} items)</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-sm-12 col-lg-3 product-table promo-container">
                    <div class="image">
                        <img [src]="cartConfig.PromotionImage.data.attributes.url | imagepipe" />
                    </div>
                    <div class="title">
                        <h3>{{cartConfig.PromotionHeading}}</h3>
                    </div>
                    <div class="desc">
                        {{cartConfig.PromotionDescription}}
                    </div>
                    <div class="btn">
                        <a class="button" [href]="cartConfig.PromotionLink">{{cartConfig.PromotionLinkTitle}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>