@import 'src/_variables';

.page-not-found-wrapper {
    //padding-top: 55px;
    .page-not-found-container {
        margin: 6%;
        text-align: center;
        font-family: 'Arvo', serif;
        
        .four_zero_four_bg{
            background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
            height: 400px;
            background-position: center;
        }
    
        .four_zero_four_bg h1{
            font-size:80px;
        }
    
        .four_zero_four_bg h3{
            font-size:80px;
            font-family: 'Arvo', serif;
        }
          
        .link_404{      
            color: #fff!important;
            padding: 10px 20px;
            background: $primary;
            margin: 20px 0;
            display: inline-block;
            text-decoration: none;
            .contant_box_404{ 
                margin-top:-50px;
            }
    }
}
}
