<div class="service-container" *ngIf="servicesData">
    <div class="row">
        <div class="col-lg-6 no-gutters d-flex left" [ngStyle]="{'background-image': 'url(' + getImageUrl(feedData.ServiceBgImage.data.attributes.url) + ')'}">
            <div class="justify-content-center align-items-center heading">
                <h1 class="heading-primary">{{feedData.ServicesTitle}}</h1>
                <p>{{feedData.ServicesDescription}}</p>
                <button type="button" (click)="openAboutUs()">Read More</button>
            </div>
        </div>
        <div class="col-lg-6 no-gutters right">
            <div class="right-rows">
                <div class="row mt-4">
                    <div class="col-md-6" *ngFor="let service of servicesData">
                        <div class="service" data-aos="flip-right">
                            <div class="logo">
                                <img [src]="service.attributes.Image.data.attributes.url | imagepipe" />
                            </div>
                            <div class="meta">
                                <h1>{{service.attributes.Heading}}</h1>
                                <button type="button" (click)="openService(service.attributes.Link)">Explore</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>