@import "src/_variables";

.service-container {
    .row {
        margin: 0;
        .left {
            background-size: cover;
            padding: 0;
            .heading {
                margin: auto;
                text-align: center;
                padding: 10%;
                background-color: $transparent-bg;
                p {
                    color: $tertiary;
                }
                button {
                    padding: 10px 20px;
                    background-color: $primary;
                    color: $secondary;
                    font-size: 16px;
                    border: none;
                    border-radius: 15px;
                }
            }
        }
        .right {
            background-color: $background-light;
            .right-rows {
                padding: 10%;

                @media screen and (max-width: 1024px) {
                    padding: 0%;
                }
                .row {
                    .service {
                        width: 100%;
                        border: 0.5px solid $primary;
                        background-color: $tertiary;
                        border-radius: 5px;
                        margin-bottom: 30px;

                        box-shadow: 2px 2px 15px #ccc;
                        .logo {
                            img {
                                height: 100px;
                                width: 100%;
                                padding: 15px;
                            }
                        }
                        .meta {
                            text-align: center;
                            padding: 0px 15px 15px 15px;
                            h1 {
                                color: $secondary;
                                font-weight: 500;
                                font-size: 18px;
                                letter-spacing: 1px;
                                margin-bottom: 10px;
                            }
                            button {
                                padding: 2px 10px;
                                background-color: $primary;
                                color: $tertiary;
                                font-size: 13px;
                                border: none;
                                border-radius: 15px;
                                letter-spacing: 1px;
                            }
                        }
                    }
                }
            }
        }
    }
}
