@import 'src/_variables';

.about-wrapper {
    .about-top-container {
        background-size: cover;
        height: 60vh;
        .about-top-section {
            text-align: center;
            .title {
                padding-top: 25vh;
                h1 {
                    font-size: 36PX;
                    font-weight: bolder;
                    color: $primary;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                }
            }
            .subtitle {
                p {
                    font-size: 19px;
                    color: $tertiary;
                    letter-spacing: 1px;
                    font-family: sans-serif;
                }
            }
            hr {
                width: 100px;
                background-color: $primary;
            }
        }
    }

    .about-middle-container{
        background-color: $background-light;
        .about-middle-section {
            padding: 5% 15%;
            @media screen and (max-width: 768px) {
                padding: 10% 15%;
            }
            text-align: center;
            .header {
                h2 {
                    color: $secondary;
                    font-size: 30px;
                    letter-spacing: 2px;
                    margin-bottom: 30px;
                    font-weight: bold;
                }
            }
            .desc {
                p {
                    font-size: 16px;
                    color: $text-dark;
                    letter-spacing: 1px;
                    font-family: sans-serif;
                }
            }
        }
    }

.about-1-container {
    .container1 {
        .row {
            .card {
                background: $tertiary;
                //box-shadow: 2px 1px 14px 3px #ebebeb !important;
                border-radius: 15px;
                border: none;

                .header-section {
                    text-align: center;

                    .title {
                        margin: 20px 0 20px 0;
                        padding: 10px;
                        img {
                            width: 100px;
                            height: 100px;
                        }
                    }
                }

                .desc-section {
                    text-align: center;
                    margin-bottom: 20px;
                    h1 {
                        font-weight: 500;
                        font-size: 24px;
                        color: $secondary;
                        .number {
                            color: $primary;
                        }
                        .bar {
                            color: #4b4943;
                            padding-left: 5px;
                            padding-right: 5px;
                            color: $primary;
                        }
                    }

                    p{
                        margin: 0 25px 0 25px;
                        font-size: 14px;
                        font-family: $font-family;
                    }
                }
            }
        }
    }
}

.about-2-container {
    .container2 {
        background: url('../../../assets/images/pattern-background.jpg');
        background-size: cover;
        .container { 
            //display: block;
            .header-section {
                text-align: center;
                padding-top: 50px;
                h1 {
                    margin-bottom: 12px;
                    font-weight: bold;
                    font-size: 36px;
                }
            }
            .team-section {
                margin-top: 70px;
                div {
                    text-align: center;
                    img {
                        width: 200px;
                        height: 160px;
                    }
                    h2 {
                        font-size: 20px;
                        font-weight: 700;
                        margin-top: 16px;
                    }
                    p {
                        font-size: 16px;
                    }
                    i {
                        color: $secondary
                    }
                }
            }
        }
    }
}

.about-3-container {
    .container3 {
        .container { 
            //display: block;
            .header-section {
                text-align: left;
                h1 {
                    margin-bottom: 12px;
                    font-weight: bold;
                    font-size: 36px;
                }
            }
            .skill-section {
                p {
                    font-size: 14px;
                    font-family: $font-family;
                }
                .numbers {
                    .item {
                        h3 {
                            margin-bottom: 0;
                        }
                        progress {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.about-4-container {
    .container4 {
        .data-row {
            .item-1 {
                background-color: $background-light;
            }
            .item-2 {
                background-color: $secondary;
            }
            .item-3 {
                background-color: $primary;
            }
            .item {
                padding: 0;
                height: 385px;
                .data {
                    padding: 15% 10%;
                    text-align: center;
                    h1 {
                        text-align: center;
                        font-weight: 700;
                    }
                    .btn {
                        width: 100%;
                        text-align: center;
                        button {
                            padding: 12px 30px 12px 30px;
                            border-radius: 50px;
                            border: none;
                        }
                    }
                }
                img {
                    width: 100%;
                    height: 100%;
                }
                .data-1 {
                    button {
                        background-color: $text-dark;
                        color: $tertiary;
                    }
                }
                .data-2 {
                    h1 {
                        color: $tertiary;
                    }
                    p {
                        color: $tertiary;
                    }
                    button {
                        background-color: $primary;
                        color: $tertiary;
                    }
                }
                .data-3 {
                    h1 {
                        color: $tertiary;
                    }
                    p {
                        color: $tertiary;
                    }
                    button {
                        background-color: $secondary;
                        color: $tertiary;
                    }
                }
            }
        }
    }
}
}

hr {
    background-color: $primary;
    width: 100px;
    height: 1px;
}
