<div *ngIf="!aboutUsData">
    <app-loader></app-loader>
</div>
<div class="about-wrapper" *ngIf="aboutUsData">
    <div class="about-top-container" [ngStyle]="{'background-image': 'url(' + getImageUrl(aboutUsData.BgImage.data.attributes.url) + ')'}">
        <div class="about-top-section">
            <div class="title">
                <h1>{{aboutUsData.Title}}</h1>
            </div>
            <div class="subtitle">
                <p>{{aboutUsData.SubTitle}}</p>
            </div>
            <hr />
        </div>
    </div>

    <div class="about-middle-container">
        <div class="about-middle-section">
            <div class="header">
                <h2>{{aboutUsData.CompanyTitle}}</h2>
            </div>
            <div class="desc">
                <p>{{aboutUsData.CompanyDesc}}</p>
                <hr />
            </div>
        </div>
    </div>

    <div class="about-1-container" *ngIf="aboutUsItems">
        <div class="container1">
            <div class="row mt-5 mb-5 ml-0 mr-0 justify-content-center">
                <div class="card card-custom mx-3 mb-2 col-lg-3" data-aos="zoom-in" *ngFor="let item of aboutUsItems; let i=index">
                    <div class="header-section">
                        <div class="title">
                            <img [src]="item.attributes.Image.data.attributes.url | imagepipe" />
                        </div>
                    </div>
                    <div class="desc-section">
                        <h1><span class="number">0{{i+1}}</span><span class="bar">|</span>{{item.attributes.ItemHeading}}</h1>
                        <p>{{item.attributes.ItemDescription}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-4-container">
        <div class="container4">
            <div class="row m-0 data-row">
                <div class="col-md-4 item item-1"  data-aos="zoom-in">
                    <div class="data data-1">
                        <h1>{{aboutUsData.PromoOneTitle}}</h1>
                        <p>{{aboutUsData.PromoOneDesc}}</p>
                        <div class="btn">
                            <button (click)="openPromo(aboutUsData.PromoOneLink)">View More</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 item" data-aos="zoom-in">
                    <img [src]="aboutUsData.PromoImageOne.data.attributes.url | imagepipe" />
                </div>
                <div class="col-md-4 item item-2" data-aos="zoom-in">
                    <div class="data data-2">
                        <h1>{{aboutUsData.PromoTwoTitle}}</h1>
                        <p>{{aboutUsData.PromoTwoDesc}}</p>
                        <div class="btn">
                            <button (click)="openPromo(aboutUsData.PromoTwoLink)">View More</button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row m-0 data-row">
                <div class="col-md-4 item" data-aos="zoom-in">
                    <img [src]="aboutUsData.PromoImageTwo.data.attributes.url | imagepipe" />
                </div>
                <div class="col-md-4 item item-3" data-aos="zoom-in">
                    <div class="data data-3">
                        <h1>{{aboutUsData.PromoThreeTitle}}</h1>
                        <p>{{aboutUsData.PromoThreeDesc}}</p>
                        <div class="btn">
                            <button (click)="openPromo(aboutUsData.PromoThreeLink)">View More</button>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 item" data-aos="zoom-in">
                    <img [src]="aboutUsData.PromoImageThree.data.attributes.url | imagepipe" />
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="about-3-container mt-5 mb-5">
        <div class="container3">
            <div class="justify-content-center">
                <div class="container">
                    <div class="header-section mb-4">
                        <h1>Our Skills</h1>
                    </div>
                    <div class="row m-0 skill-section">
                        <div class="col-md-6">
                            <p>Alienum phaedrum torquatos nec eu, vis detraxit periculis ex, nihil expetendis in mei.
                                Mei an
                                pericula euripidis, hinc partem ei est. Eos ei nisl graecis, vix aperiri consequat an.
                                Eius
                                lorem tincidunt vix at, vel pertinax sensibus id, error epicurei mea et. Mea facilisis
                                urbanitas moderatius id. Vis ei rationibus definiebas, eu qui purto zril laoreet. Ex
                                error
                                omnium interpretaris pro lorem tincidunt vix.Alienum phaedrum torquatos nec eu, vis detraxit periculis ex, nihil expetendis in mei.
                                Mei an
                                pericula euripidis, hinc partem ei est.</p>
                        </div>
                        <div class="col-md-6 numbers">
                            <div class="item">
                                <h3>Design</h3>
                                <progress id="file" value="82" max="100"></progress>
                                <h3>Development</h3>
                                <progress id="file" value="70" max="100"></progress>
                                <h3>Advertisment</h3>
                                <progress id="file" value="95" max="100"></progress>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="about-2-container" *ngIf="teamData">
        <div class="container2">
            <div class="container mt-0 mb-0 justify-content-center">
                <div class="header-section">
                    <h1>Our Team</h1>
                    <hr />
                </div>
                <div class="row mt-5 team-section">
                    <div class="col-lg-6 col-md-6 mb-5" *ngFor="let member of teamData" data-aos="zoom-in">
                        <img [src]="member.attributes.Image.data.attributes.url | imagepipe" />
                        <h2>{{member.attributes.Name}}</h2>
                        <p>{{member.attributes.Description}}</p>
                        <div class="text-center">
                            <a *ngIf="member.attributes.FBLink" [href]="member.attributes.FBLink" class="pl-2"><i class="fa fa-facebook"></i></a>
                            <a *ngIf="member.attributes.InstaLink" [href]="member.attributes.InstaLink" class="pl-2"><i class="fa fa-instagram"></i></a>
                            <a *ngIf="member.attributes.TwitterLink" [href]="member.attributes.TwitterLink" class="pl-2"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>