<div *ngIf="!isLoaded">
    <app-loader></app-loader>
</div>
<div class="package-wrapper" *ngIf="isLoaded">
    <div class="package-section">
        <div class="row justify-content-center" *ngIf="currentPackageData && currentPackageData.attributes">
            <div class="col-md-6 left">
                <div class="img-wrapper">
                    <img [src]="currentPackageData.attributes.Image.data.attributes.url | imagepipe" />
                </div>
            </div>
            <div class="col-md-6 right">
                <div class="header">
                    <h1>{{currentPackageData.attributes.Name}}</h1>
                    <h3>$ {{currentPackageData.attributes.Price}} <span>{{getFrequency(currentPackageData.attributes.Frequency)}}</span></h3>
                </div>
                <div class="desc">
                    <p>{{currentPackageData.attributes.Description}}</p>
                </div>
                <div class="point">
                    <ul class="listings">
                        <li *ngFor="let point of bulletPoints">{{point}}</li>
                    </ul>
                </div>
                <div class="btn">
                    <a (click)="buyNow(currentPackageData.id)">Buy Now</a>
                </div>
            </div>
        </div>

    </div>
    <div class="campaign-bottom-container" *ngIf="remainingPackagesData">
        <div class="container mt-3">
            <h1>Related Product</h1>
            <h3>Explore wide range of products</h3>
            <hr class="hr" />
            <div class="row mt-3 mb-2 justify-content-center">

                <div class="card card-custom mx-3 mb-4 col-lg-3 col-md-5" data-aos="zoom-in"
                    *ngFor="let package of remainingPackagesData">
                    <div class="header-section" [ngClass]="{'famous': package.attributes.IsMostPopular}">
                        <div class="title">
                            <h1>{{package.attributes.Name}}</h1>
                        </div>
                        <div class="subtitle">
                            <p *ngIf="package.attributes.IsMostPopular">Most Popular</p>
                        </div>
                    </div>
                    <hr class="top" />
                    <div class="amount-section">
                        <h1><span>$</span>{{package.attributes.Price}}</h1>
                        <h3>{{getFrequency(package.attributes.Frequency)}}</h3>
                    </div>
                    <div class="desc-section">
                        <p>{{package.attributes.Description}}</p>
                    </div>
                    <hr class="bottom" />
                    <div class="btn-section">
                        <a (click)="openPackage(package.id)">EXPLORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>