<div class="promote-section" *ngIf="whyPromoteData">
    <div class="wrapper">
        <h1 class="promote-head heading-secondary">{{feedData.WhyPromoteTitle}}</h1>

        <div class="col-md-6" data-aos="flip-left" class="item-wrapper">
            <div class="row">
                <div class="col-md-6 mb-3" *ngFor="let item of whyPromoteData; let i = index" data-aos="zoom-in">
                    <div class="item">
                        <div class="promote-header">
                            <div class="icon">
                                <div>0{{i+1}}</div>
                            </div>
                            <h5>{{item.attributes.Heading}}</h5>
                        </div>
                        <p class="dark-text">{{item.attributes.Description}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>