@import "src/_variables";

.promote-section {
    .promote-head {
        margin-bottom: 35px;
    }
    .item-wrapper {
        display: contents;

        .item {
            margin-bottom: 16px;
            padding: 20px;
            background: #ffffff;
            //box-shadow: 2px 2px 15px #ccc;
            //border: 1px solid $primary;
            //border-radius: 5px;
            .promote-header {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                .icon {
                    display: flex;
                    width: 95px;
                    min-width: 95px;
                    height: 95px;
                    font-size: 50px;
                    background-color: $primary;
                    border-radius: 50%;
                    div {
                        margin: auto;
                    }
                }
                h5 {
                    margin-left: 30px;
                    width: 240px;
                    font-size: 19px;
                    line-height: 1.52632;
                    color: $primary;
                    font-weight: 500;
                    margin-bottom: 0;
                }
            }
        }
    }
}
