@import "src/_variables";

.testimonials-wrapper {
    margin-bottom: 0;
    display: flex;
    .wrapper {
        width: 100%;
    }
    .heading {
        text-align: center;
    }

    .testimonials-container {
        margin-bottom: 0;
        .item-wrapper {
            background-color: $background-dark;
            display: flex;
            border: 1px solid $tertiary;
            .item {
                margin: 50px;
                p{
                    text-align: center;
                }
            }
        }
        .img-wrapper {
            text-align: center;
            margin-top: -50px;
            img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
            h3 {
                margin-bottom: 7px;
                margin-top: 16px;
                font-size: 20px;
                font-weight: bold;
                letter-spacing: 2px;
                color: $primary;
            }
            h4 {
                color: $secondary;
                font-size: 14px;
                font-family: sans-serif;
                letter-spacing: 1px;
            }
        }
    }
}
