<div class="testimonials-wrapper" *ngIf="testimonialsData">
    <div class="wrapper">
        <div class="heading">
            <h1 class="heading-primary">{{feedData.TestimonialsTitle}}</h1>
            <p>{{feedData.TestimonialsSubtitle}}</p>
            <hr class="primary-hr" />
        </div>
        <div class="row mt-3 testimonials-container">
            <div class="col-lg-4 col-md-6 no-gutters" data-aos="zoom-in"
                *ngFor="let item of testimonialsData; let i = index">
                <div class="justify-content-center align-items-center item-wrapper">
                    <div class="item">
                        <p class="light-text">{{item.attributes.Testimony}}</p>
                    </div>
                </div>
                <div class="img-wrapper">
                    <img [src]="item.attributes.Image.data.attributes.url | imagepipe" />
                    <h3>{{item.attributes.Name}}</h3>
                    <h4>{{item.attributes.Profession}}</h4>
                </div>
            </div>

        </div>
    </div>
</div>