
#spinner {
	-webkit-animation: frames 1s infinite linear;
	animation: frames 1s infinite linear;
	background: #fcc000;
	border: 8px solid #FFF;
	border-radius: 100%;
	border-top-color: #fcc000;
	width: 60px;
	height: 60px;
	opacity: .6;
	padding: 0;
	position: absolute;
	z-index: 999;
}
@keyframes frames {
  0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
  }
  100% {
	-webkit-transform: rotate(359deg);
	transform: rotate(359deg);
  }
}

#pause {
	display: block;
	background:
		#fcc000
		no-repeat
		0 0;
	width: 100%;
	height: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1000;
}

#loader-image {
	text-align: center;
	img {
	width: 50%;
		border-radius: 50%;
		animation: scaling 1s infinite alternate;
	}
}

@keyframes scaling {
	From {
		-webkit-transform: scale(1.0);
	}
	To {
		-webkit-transform: scale(1.5);
	}
}