section {
    display: flex !important;
    background-color: $background-light;
}
.wrapper {
    margin: 7% 10% !important;
    @media screen and (max-width: 1024px) {
        margin: 15% 10% !important;
    }
}
.wrapper-3 {
    margin-top: 3%;
    margin-bottom: 3%; 
}
.wrapper-top-bottom {
    margin-top: 7%;
    margin-bottom: 7%;
}
.wrapper-left-right {
    margin: 0% 10%;
}
.btn-primary {
    background-color: $primary;
    color: $secondary;
}

.btn-secondary {
    background-color: $secondary;
    color: $tertiary;
}
.heading-primary {
    color: $primary;
    font-weight: bolder !important;
    font-size: 36px !important;
    letter-spacing: 2px !important;
}
.subheading {
    color: $text-dark !important;
    font-size: 19px !important;
    font-family: $font-family !important;
    letter-spacing: 2px !important;
}
.primary-hr {
    width: 100px !important;
    height: 2px !important;
    background-color: $primary !important;
    border: none !important;
}
.secondary-hr {
    width: 100px !important;
    height: 2px !important;
    background-color: $secondary !important;
    border: none !important;
}
.heading-secondary {
    color: $secondary;
    font-weight: bolder !important;
    font-size: 36px !important;
    letter-spacing: 2px !important;
    @media screen and (max-width: 768px) {
        font-size: 28px !important;
    }
}

p, a{
    font-family: $font-family;
    font-size: 16px;
    line-height: 1.66667;
    font-weight: 400;
    color: $text-dark;
    letter-spacing: 0.5px;
}

.dark-text {
    color: $text-dark;
}

.light-text {
    color: $text-light;
}

.black-text {
    color: $secondary;
    font-weight: 700;
}
.margin-b-3 {
    margin-bottom: 30px;
}

.margin-a {
    margin: auto;
}

.ls-spinner {
    margin-left: 5px;
    color: $tertiary;
}

.please-wait {
    color: $tertiary;
}

.payment-error {
    p {
        color: red;
        span {
            cursor: pointer;
            text-decoration: underline;
            color: $secondary;
        }
        a {    
            color: $secondary;
            text-decoration: none; 
        }
    }
}

.success-reult {
    p {
        color: green;
    }
}