$primary: #FFC000;
$secondary: #000000;
$tertiary: #FFFFFF;
$background-light: #F5F5F5;
$background-dark: #333333;
$background-extra-dark: #1D1D1D;
$text-dark:#888888;
$text-light: #FFFFFF;
$font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$transparent-bg: rgba(0,0,0,0.8);