<div *ngIf="!isLoaded">
    <app-loader></app-loader>
</div>
<div class="payment-status-wrapper" *ngIf="isLoaded">
    <div class="payment-status-container">
        <div class="row" *ngIf="paymentSuccess">
            <div class="col-sm-12 ">
                <div class="col-sm-12 col-sm-offset-1  text-center">
                    <div class="four_zero_four_bg">
                        <img src="../../../assets/images/pay-success.svg" />
                    </div>
                    <div class="contant_box_404">
                        <h1>
                            Your Payment is Successfull
                        </h1>
                        <p>Check your invoice by clicking <a [href]="invoiceUrl">here</a></p>
                        <p>Thank you for your payment. An automated payment receipt is sent to your registered email.</p>
                        <a routerLink="/" class="link_404">Back to Home</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="!paymentSuccess">
            <div class="col-sm-12 ">
                <div class="col-sm-12 col-sm-offset-1  text-center">
                    <div class="four_zero_four_bg">
                        <img src="../../../assets/images/pay-fail.svg" />
                    </div>
                    <div class="contant_box_404">
                        <h1>
                            We didn't find any transaction!
                        </h1>
                        <p>Please try again after sometime or <a routerLink="/contact-us">contact us</a>.</p>
                        <a routerLink="/" class="link_404">Back to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>