@import 'src/_variables';

.payment-status-wrapper {
    //padding-top: 55px;
    .payment-status-container {
        margin: 5%;
        text-align: center;
        font-family: 'Arvo', serif;
        
        .four_zero_four_bg{
            img {
                height: 350px;
                width: 100%;
            }
        }

        .contant_box_404 {
            margin-top: 20px;
            h1 {
                font-size: 24px;
                font-weight: 500;
            }
            p {
                a {
                    text-decoration: underline;
                }
            }
        }
        .link_404{      
            color: $tertiary;
            padding: 10px 20px;
            background: $primary;
            margin: 20px 0;
            display: inline-block;
            text-decoration: none;
    }
}
}
