@import 'src/_variables';

.publication-wrapper {
    //padding-top: 55px;
    .publication-top-container {
        background-size: cover;
        height: 60vh;
        .publication-top-section {
            text-align: center;
            .title {
                padding-top: 25vh;
                h1 {
                    font-size: 36PX;
                    font-weight: bolder;
                    color: $primary;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                }
            }
            .subtitle {
                p {
                    font-size: 19px;
                    color: $tertiary;
                    letter-spacing: 1px;
                    font-family: sans-serif;
                }
            }
            hr {
                width: 100px;
                background-color: $primary;
            }
        }
    }

    .publication-middle-container{
        background-color: $background-extra-dark;
        .publication-middle-section {
            padding: 5% 30%;
            @media screen and (max-width: 768px) {
                padding: 5% 10%;
            }
            text-align: center;
            .header {
                h2 {
                    color: $tertiary;
                    font-size: 24px;
                    letter-spacing: 2px;
                    margin-bottom: 30px;
                    font-weight: bold;
                }
            }
            .desc {
                p {
                    font-size: 16px;
                    color: $tertiary;
                    letter-spacing: 1px;
                    font-family: sans-serif;
                }
            }
        }
    }
    .steps {
        @media screen and (max-width: 767px) {
            display: none;
        }
        .step {
            padding: 10px 30px 10px 30px;
            background-color: $secondary;
            margin: 0 4rem 0 4rem;
            @media screen and (max-width: 768px) {
                margin: 0 1.1rem 0 1.1rem;
            }
            h1 {
                margin-bottom: 0;
                color: $primary;
                font-weight: bold;
                font-size: 22px;
                font-family: $font-family;
            }
        }
        .icon {
            display: table;
            margin: 0 4rem 0 4rem;
            @media screen and (max-width: 768px) {
                margin: 0 1.1rem 0 1.1rem;
            }
            h1 {
                display:table-cell;
                vertical-align:middle;
                i {
                    font-size: 43px;
                    font-weight: bold;
                    color: $text-dark;
                }
                
                .icon-display {
                    transform: scale(1.5);
                }
            }
        }
    }

.publication-bottom-container {
    margin: 2%;
    .container1 {
        .row {
            margin: 0;
            .card {
                background: $tertiary;
                box-shadow: 2px 1px 14px 3px #ebebeb !important;
                border-radius: 15px;
                border: none;

                .header-section {
                    text-align: center;

                    .title {
                        margin: 20px 0 20px 0;
                        h1 {
                            font-size: 20px;
                            margin-bottom: 0;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                            font-weight: 500;
                        }
                    }
                }

                .famous {
                    background-color: $background-extra-dark;
                    .title {
                        h1 {
                            color: $tertiary;
                        }
                    }
                }

                .desc-section {
                    text-align: center;
                    margin-bottom: 20px;

                    p{
                        margin: 0 25px 0 25px;
                        font-size: 14px;
                        font-family: sans-serif;
                    }
                }
                hr.top {
                    margin-top: 0;
                    margin-bottom: 25px;
                }
                .btn-section {
                    margin-bottom: 25px;
                    text-align: center;

                    button {
                        border-radius: 25px;
                        font-size: 14px;
                        font-weight: 400;
                        padding: 8px 25px 8px 25px;
                        background-color: $primary;
                        color: $secondary;
                        border: none;
                    }
                }
            }
        }
    }
}
    .repost-container {
        background-color: $background-light;
        .repost-wrapper {
            padding: 5% 30%;
            @media screen and (max-width: 768px) {
                padding: 5% 10%;
            }
            .header {
                text-align: center;
            }
        }
        
    }
}

.campaign-bottom-container {
    background-color: $background-light;
    .container {
        padding: 3% 0%;
        @media screen and (max-width: 768px) {
            padding: 10% 3%;
        }
        .header {
            text-align: center;
            h1 {
                font-size: 28px;
                font-weight: 500;
                span {
                    color: $primary;
                }
            }
        }
        .row {
            .card {
                border: none;
                padding-left: 0;
                padding-right: 0;
                //background-color: $background-light;

                .header-section {
                    text-align: center;

                    .title {
                        margin-top: 55px;
                        h1 {
                            font-size: 20px;
                            margin-bottom: 0;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                            font-weight: 500;
                        }
                    }
                    .subtitle {
                        min-height: 23px;
                        p {
                            font-size: 14px;
                            font-weight: 400;
                            color: $primary;
                            font-family: sans-serif;
                        }
                    }
                }

                .famous {
                    background-color: $background-extra-dark;
                    .title {
                        margin-top: 43px;
                        h1 {
                            color: $tertiary;
                        }
                    }
                }

                .amount-section {
                    text-align: center;
                    h1 {
                        margin-bottom: -10px;
                        font-size: 64px;
                        font-weight: 500;
                        font-family: sans-serif;
                        span {
                            font-size: 14px;
                            font-weight: 500;
                            font-family: sans-serif;

                        }
                    }
                    h3 {
                        font-size: 12px;
                        color: $text-dark;
                        font-family: sans-serif;
                    }
                }

                .desc-section {
                    text-align: center;

                    p{
                        margin: 0 25px 0 25px;
                        font-size: 14px;
                        font-family: sans-serif;
                    }
                }
                hr.top {
                    margin-top: 0;
                    margin-bottom: 25px;
                }
                .btn-section {
                    margin-bottom: 25px;
                    text-align: center;

                    a {
                        border-radius: 25px;
                        font-size: 12px;
                        font-weight: 500;
                        padding: 8px 25px 8px 25px;
                        background-color: $primary;
                        color: $secondary;
                        border: none;
                        cursor: pointer;
                    }
                }
            }
        }
        //max-width: 256px;
    }
    // .container {
    //     padding-top: 3%;
    //     padding-bottom: 3%;
    //     h1 {
    //         text-align: center;
    //         font-weight: 500;
    //         font-size: 28px;
    //     }
    //     h3 {
    //         text-align: center;
    //         font-size: 18px;
    //         font-weight: 600;
    //         color: $text-dark;
    //         letter-spacing: 1px;
    //     }
    //     .hr {
    //         width: 100px;
    //         height: 1px;
    //         background-color: $primary;
    //     }
    //     .row {
    //         .card {
    //             border: none;
    //             padding-left: 0;
    //             padding-right: 0;
    //             //background-color: $background-light;

    //             .header-section {
    //                 text-align: center;

    //                 .title {
    //                     margin-top: 55px;
    //                     h1 {
    //                         font-size: 20px;
    //                         margin-bottom: 0;
    //                         letter-spacing: 1px;
    //                         text-transform: uppercase;
    //                         font-weight: 500;
    //                     }
    //                 }
    //                 .subtitle {
    //                     min-height: 23px;
    //                     p {
    //                         font-size: 14px;
    //                         font-weight: 400;
    //                         color: $primary;
    //                         font-family: sans-serif;
    //                     }
    //                 }
    //             }

    //             .famous {
    //                 background-color: $background-extra-dark;
    //                 .title {
    //                     h1 {
    //                         color: $tertiary;
    //                     }
    //                 }
    //             }

    //             .amount-section {
    //                 text-align: center;
    //                 h1 {
    //                     margin-bottom: -10px;
    //                     font-size: 64px;
    //                     font-weight: 500;
    //                     font-family: sans-serif;
    //                     span {
    //                         font-size: 14px;
    //                         font-weight: 500;
    //                         font-family: sans-serif;

    //                     }
    //                 }
    //                 h3 {
    //                     font-size: 12px;
    //                     color: $text-dark;
    //                     font-family: sans-serif;
    //                 }
    //             }

    //             .desc-section {
    //                 text-align: center;

    //                 p{
    //                     margin: 0 25px 0 25px;
    //                     font-size: 14px;
    //                     font-family: sans-serif;
    //                 }
    //             }
    //             hr.top {
    //                 margin-top: 0;
    //                 margin-bottom: 25px;
    //             }
    //             .btn-section {
    //                 margin-bottom: 25px;
    //                 text-align: center;

    //                 button {
    //                     border-radius: 25px;
    //                     font-size: 14px;
    //                     font-weight: 400;
    //                     padding: 8px 25px 8px 25px;
    //                     background-color: $primary;
    //                     color: $secondary;
    //                     border: none;
    //                 }
    //             }
    //         }
    //     }
    //     //max-width: 256px;
    // }
}


.promote-section {
    .promote-wrapper {
        padding: 7% 12%;
        @media screen and (max-width: 768px) {
            padding: 12%;
        }
    }
    .promote-head {
        margin-bottom: 60px;
    }
    .item-wrapper {
        display: contents;
    .item {
        margin-bottom: 35px;
        .promote-header {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            .icon {
                display: flex;
                width: 95px;
                min-width: 95px;
                height: 95px;
                font-size: 50px;
                background-color: $primary;
                border-radius: 50%;
                div {
                    margin: auto;
                }
            }
            h5 {
                margin-left: 30px;
                width: 240px;
                font-size: 19px;
                line-height: 1.52632;
                color: $primary;
                font-weight: 500;
                margin-bottom: 0;
            }
        }
    }
}
}
.instagram-checkout-wrapper {
    .instagram-checkout-container {
        //border-bottom: 0.1px solid grey;
        font-family: 'Arvo', serif;
        
        .checkout-row {
            margin: 0;
            .item {
                margin: auto;
                padding: 0;
                .instagram-checkout-left {
                    text-align: center;
                    background-color: $primary;
                    padding: 10% 20%;
                    @media screen and (max-width: 768px) {
                        padding: 10% 5%;
                    }

                    .logo {
                        margin-bottom: 10px;
                        img {
                            width: 180px;
                            height: 150px;
                        }
                    }

                    .support {
                        align-items: center;

                        a {
                            color: $secondary;
                            font-size: 15px;
                            .material-icons {
                                vertical-align: middle;
                                font-size: 15px;
                            }
                            span {
                                margin-left: 3px;
                            }
                        }

                    }

                    .campaign-box {
                        padding: 20px;
                        background: $tertiary;
                        margin: 15px;
                        border-radius: 6px;
                        .header {
                            border-bottom: 1px solid $primary;
                            text-align: center;
                            h4 {
                                font-size: 18px;
                                font-family: $font-family;
                                letter-spacing: 1px;
                                font-weight: 700;
                                line-height: 1.5;
                            }
                            h6 {
                                margin-bottom: 0;
                                position: relative;
                                top: 10px;
                                line-height: 1.5;
                                font-weight: 500;
                                font-size: 16px;
                                span {
                                    padding: 10px;
                                    background: $tertiary;
                                }
                            }
                        }
                        .body {
                            text-align: left;
                            padding: 15px 10px 0px 10px;
                            p {
                                font-weight: 500;
                                font-size: 14px;
                                span {
                                    font-weight: 400;
                                }
                            }
                            label {
                                display: inline-block;
                                 margin-bottom: 0.5rem;
                                 font-weight: 400;
                                 font-family: $font-family;
                                 font-size: 14px;
                            }
                            select {
                                height: 40px;
                                font-size: 14px;
                                border: 1px solid #cdcdcd;
                                font-family: $font-family;
                            }
                        }
                    }

                    .listings {
                        margin-left: 30px;
                        margin-right: 30px;
                        list-style: none;
                        text-align: left;

                       li {
                           list-style: none;
                           margin-bottom: 8px;
                           font-family: $font-family;
                           font-size: 14px;
                           font-weight: 500;

                           &::before {
                            content: "\2713";
                            width: 20px;
                            height: 20px;
                            margin-left: -30px;
                            margin-right: 10px;
                            display: inline-block;
                            text-align: center;
                            line-height: 20px;
                            border-radius: 50px;
                            font-size: 11px;
                            font-weight: 700;
                            color: $secondary;
                           }
                       }
                    }
                    h1 {
                        color: $secondary;
                        font-weight: bold;
                        font-family: "oswald";
                        letter-spacing: 1px;
                        word-spacing: 2px;
                        font-size: 24px;
                        margin: 0;
                    }
                    p {
                        color: $background-extra-dark;
                    }
                    h2 {
                        color: $text-light;
                        font-weight: bold;
                        letter-spacing: 1px;
                        margin-bottom: 14px;
                    }
                    h5 {
                        color: $background-extra-dark;
                        letter-spacing: 2px;
                    }
                }
                .instagram-checkout-right {
                    padding: 3% 10%;
                    @media screen and (max-width: 768px) {
                        padding: 15%;
                    }
                    .right-body {
                        //border: 1px solid $secondary;
                        border-radius: 6px;
                        //padding: 10px 40px 40px;
                        h4 {
                            margin-bottom: 0;
                            position: relative;
                            top: -10px;
                            font-weight: 700;
                            background-color: $tertiary;
                            font-size: 1.5rem;
                        }
                        form {
                            input {
                                height: calc(1.5em + 0.75rem + 2px);
                                padding: 0.375rem 0.75rem;
                                font-size: 1rem;
                                font-weight: 400;
                                line-height: 1.5;
                                color: #495057;
                                background-color: #fff;
                                background-clip: padding-box;
                                border: 1px solid #ced4da;
                                border-radius: 0.25rem;
                                //width: 65%;
                            }
                            text-area {
                                
                                padding: 0.375rem 0.75rem;
                                font-size: 1rem;
                                font-weight: 400;
                                line-height: 1.5;
                                color: #495057;
                                background-color: #fff;
                                background-clip: padding-box;
                                border: 1px solid #ced4da;
                                border-radius: 0.25rem;
                                width: 65%;
                            }
                            label {
                                font-family: $font-family;
                                font-weight: 600;
                                font-size: 16px;
                            }
                            .submit-button {
                                min-width: 120px;
                                background-color: $primary;
                                color: #fff;
                                border: 1px solid $primary;
                                padding: 8px 20px;
                                border-radius: 6px;
                                color: $secondary;
                                font-family: $font-family;
                                letter-spacing: 1px;
                                font-weight: 600;
                            }
                            .forgot-pw {
                                a {
                                    font-size: 16px;
                                    color: $background-extra-dark;
                                    font-family: $font-family;
                                    text-decoration: none;
                                }
                            }
                            .common-checkbox {
                                input {
                                    vertical-align: middle;
                                }
                                label {
                                    vertical-align: middle;
                                    margin-bottom: 4px;
                                    margin-left: 4px;
                                    font-size: 14px;
                                    font-weight: 400;
                                }
                            }
                            p {
                                font-size: 14px;
                            }
    
                        }
                    }
                }
            }
        }
}
}

.publication-faqs-container {
    .publication-faqs-section {
        padding: 7% 12%;
        @media screen and (max-width: 768px) {
            padding: 12%;
        }
        background-color: $background-light;
        h1 {
            text-align: center;
            font-weight: 500;
            font-size: 28px;
        }
        h3 {
            text-align: center;
            font-size: 18px;
            font-weight: 600;
            color: $text-dark;
            letter-spacing: 1px;
        }
        .hr {
            width: 100px;
            height: 1px;
            background-color: $primary;
            margin-bottom: 40px;
        }
        .row {
            .faq-image {
                width: 100%;
            }
            .faq-btn {
                margin-top: 25px;
                text-align: center;
                a {
                    color: $secondary;
                    background-color: $primary;
                    padding: 10px 15px;
                    border-radius: 5px;
                    letter-spacing: 1px;
                    text-decoration: none;
                }
            }
        }
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

#publication-success {
    display: none;
}