<div *ngIf="!publicationData">
    <app-loader></app-loader>
</div>
<div class="publication-wrapper" *ngIf="publicationData">
    <div class="publication-top-container" [ngStyle]="{'background-image': 'url(' + getImageUrl(publicationData.BgImage.data.attributes.url) + ')'}">
        <div class="publication-top-section">
            <div class="title">
                <h1>{{publicationData.Title}}</h1>
            </div>
            <div class="subtitle">
                <p>{{publicationData.SubTitle}}</p>
            </div>
            <hr />
        </div>
    </div>
    <div class="publication-middle-container">
        <div class="publication-middle-section">
            <div class="header">
                <h2>{{publicationData.ConceptHeading}}</h2>
            </div>
            <div class="desc">
                <p>{{publicationData.ConceptDesc}}</p>
            </div>
        </div>
    </div>
    <div class="row mt-5 mb-5 mr-0 ml-0 justify-content-center steps" *ngIf="stepsData">
        <div class="md-2 step">
            <h1>STEP 1</h1>
        </div>
        <div class="md-2 icon">
            <h1><i class="material-icons icon-display">arrow_forward</i></h1>
        </div>
        <div class="md-2 step">
            <h1>STEP 2</h1>
        </div>
        <div class="md-2 icon">
            <h1><i class="material-icons icon-display">arrow_forward</i></h1>
        </div>
        <div class="md-2 step">
            <h1>STEP 3</h1>
        </div>
    </div>
    <div class="publication-bottom-container" *ngIf="stepsData">
        <div class="container1">
            <div class="row mt-5 mb-5 justify-content-center">
                <div class="card card-custom mx-3 mb-2 col-lg-3 col-md-3" *ngFor="let step of stepsData">
                    <div class="header-section">
                        <div class="title">
                            <h1>{{step.attributes.Heading}}</h1>
                        </div>
                    </div>
                    <hr class="top" />
                    <div class="desc-section">
                        <p>{{step.attributes.Description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="campaign-bottom-container" *ngIf="publicationPackagesData">
        <div class="container">
            <div class="header">
                <h1>{{publicationData.PackageHeading}} <span>Packages</span></h1>
            </div>
            
            <div class="row mt-5 mb-4 justify-content-center">

                <div class="card card-custom mx-3 mb-4 col-lg-3 col-md-5" data-aos="zoom-in"
                    *ngFor="let package of publicationPackagesData">
                    <div class="header-section" [ngClass]="{'famous': package.attributes.IsMostPopular}">
                        <div class="title">
                            <h1>{{package.attributes.Name}}</h1>
                        </div>
                        <div class="subtitle">
                            <p *ngIf="package.attributes.IsMostPopular">Most Popular</p>
                        </div>
                    </div>
                    <hr class="top" />
                    <div class="amount-section">
                        <h1><span>$</span>{{package.attributes.Price}}</h1>
                        <h3>{{getFrequency(package.attributes.Frequency)}}</h3>
                    </div>
                    <div class="desc-section">
                        <p>{{package.attributes.Description}}</p>
                    </div>
                    <hr class="bottom" />
                    <div class="btn-section">
                        <a (click)="openPackage(package.id)">EXPLORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="promote-section" *ngIf="whyPublishData">
        <div class="promote-wrapper">
            <h1 class="promote-head heading-secondary">Press & Publication Made Easy</h1>

            <div class="col-md-6" data-aos="flip-left" class="item-wrapper">
                <div class="row mr-0">
                    <div class="col-md-6" *ngFor="let item of whyPublishData; let i = index">
                        <div class="item">
                            <div class="promote-header">
                                <div class="icon">
                                    <div>0{{i+1}}</div>
                                </div>
                                <h5>{{item.attributes.ItemHeading}}</h5>
                            </div>
                            <p class="dark-text">{{item.attributes.ItemDescription}}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="publication-faqs-container" *ngIf="faqsData">
        <div class="publication-faqs-section">
            <h1>Frequently Asked Questions</h1>
            <h3>Your Questions, Our Answers</h3>
            <hr class="hr" />
            <div class="row">
                <div class="col-md-6">
                    <app-faqs-item [data]="faqsData"></app-faqs-item>
                </div>
                <div class="col-md-6">
                    <img src="../../../assets/images/faq.svg" class="faq-image" />
                    <div class="faq-btn">
                        <a routerLink="/faqs">Explore More >>></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="instagram-checkout-wrapper">
        <div class="instagram-checkout-container">
            <div class="row checkout-row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-12 item">
                    <div class="instagram-checkout-left">
                        <div class="logo">
                            <img [src]="globalConfig.SecondaryLogo.data.attributes.url | imagepipe" />
                        </div>
                        <div class="support">
                            <a href="mailto:marketing@leadingsounds.com">
                                <i class="material-icons">email</i>
                                <span>marketing@leadingsounds.com</span>
                            </a>
                        </div>
                        <div class="campaign-box">
                            <div class="header">
                                <h4>We're here for you!</h4>
                            </div>
                            <div class="body">
                                <ul class="listings">
                                    <li>This is a monthly subscription</li>
                                    <li>Any Refunds Requested after the first 24 hours within buying are
                                        subject to company decision</li>
                                    <li>To cancel your Recurring payment, Go to your "billing" page and simply
                                        click the cancel button</li>
                                    <li>Once the Recurring payment has been processed the service will be
                                        delivered for that time period</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-12 item">
                    <div class="instagram-checkout-right">
                        <!-- <div class="header">
                            <h1>Hey there! Welcome back.</h1>
                            <h4>instagram-checkout to your account</h4>
                        </div> -->

                        <div class="right-body">
                            <div id="info-form">
                                <h4>Create your Leading Sounds account</h4>
                                <p>
                                    Please fill your details carefully. Make sure to double check the Instagram
                                    Username.
                                </p>
                                <form ngNativeValidate (ngSubmit)="submit($event)" id="publication-form">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
                                                <label>Name*</label>
                                                <input name="Name" placeholder="Name" [(ngModel)]="name"
                                                    class="form-control ng-untouched ng-pristine ng-invalid" required />
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                                <label>Email Address*</label>
                                                <input type="email" placeholder="name@company.com" [(ngModel)]="email"
                                                name="Email"
                                                    class="form-control ng-untouched ng-pristine ng-invalid" required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
                                                <label>Phone Number*</label>
                                                <input type="number" placeholder="Phone Number" name="Phone" [(ngModel)]="phone"
                                                    class="form-control ng-dirty ng-valid ng-touched" required />
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                                <label>Instagram Username*</label>
                                                <input type="text" placeholder="Instagram Username"
                                                name="Username" [(ngModel)]="instaUsername"
                                                    class="form-control ng-untouched ng-pristine ng-invalid" required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
                                                <label>Spotify Link</label>
                                                <input type="text" placeholder="Spotify Link"
                                                name="SpotifyLink" [(ngModel)]="spotifyLink"
                                                    class="form-control ng-dirty ng-valid ng-touched" />
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                                <label>Youtube Channel Link</label>
                                                <input type="text" placeholder="Youtube Channel Link"
                                                name="YoutubeChannelLink" [(ngModel)]="ytChannelLink"
                                                    class="form-control ng-dirty ng-valid ng-touched" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
                                                <label>Tell us about youself!</label>
                                                <textarea placeholder="Tell us about youself!"
                                                name="Username" [(ngModel)]="aboutClient"
                                                    class="form-control ng-untouched ng-pristine ng-invalid"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row justify-content-between align-items-center">
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-6">
                                                <button type="submit" class="submit-button">
                                                    Submit
                                                </button>
                                            </div>
                                        </div>
                                        <div class="payment-error mt-2" *ngIf="isError">
                                            <p>We are facing some technical issue. Please try again after sometime.</p>
                                        </div>
                                        <div class="success-reult mt-2" id="publication-success" *ngIf="!isError">
                                            <p class="mt-3"><b>Thank you for getting in touch!</b></p>
                                            <p>We appreciate you contacting us. One of our colleagues will get back in touch
                                                with you soon. Have a great day!</p>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>